[2015-07-22 01:59] JoeDoyle23 opened #1 "Talk Proposal: Getting Started with Docker and Node"
**Getting Started with Docker and Node**

Running applications using Docker has become increasingly popular over the last year. All the hype can make it hard to determine if Docker would be valuable to your infrastructure and workflow. We'll dive into the basics of Docker and containers with a focus on hosting Node.js applications. From there we'll walk through the basics on how to build and run y

[2015-07-22 04:11] dshaw commented on #1
@JoeDoyle23 Thank you!

[2015-07-22 05:13] dshaw commented on #1
http://www.meetup.com/sfnode/events/223133402/

[2015-07-22 05:13] #1 closed

[2016-01-12 05:47] blakeembrey opened #2 "Talk Proposal: Introduction to TypeScript"
TypeScript is a typed superset of JavaScript that compiles to JavaScript. It enables you to write large applications in Node with greater productivity through features such as powerful autocompletion, future JavaScript support, symbol navigation, code refactoring and static type checking that can detect even the smallest of typos. We'll be learning to use TypeScript that'll run in Node, improve ou

[2016-01-12 18:10] dshaw commented on #2
Thanks, @blakeembrey. SFNode meets on the first Thursday of every month. Any preferences or black out dates over the next 3 months?

[2016-01-12 20:54] blakeembrey commented on #2
The only restriction I have is this immediate first Thursday - Feb 4th. I won't be in San Francisco, but I'm available the rest of the months.

[2016-01-12 21:33] paulgrock commented on #2
@blakeembrey that's perfect. I think we're booked for Feb but either of the following two are still open. Does March or April work better for you?

[2016-01-12 21:45] blakeembrey commented on #2
March sounds perfect.

[2016-01-12 21:49] paulgrock commented on #2
Awesome. We'll get you added to the march event.

[2016-01-12 21:59] blakeembrey commented on #2
Awesome, cheers! Thanks for the quick responses.

[2016-02-18 22:15] blakeembrey commented on #2
@dshaw @paulgrock Can I confirm whether this is still happening?

[2016-02-18 22:34] paulgrock commented on #2
@blakeembrey yes we're still. Sorry I haven't been in contact for the last month. Let me know if you have any questions

[2016-02-18 22:40] blakeembrey commented on #2
Sounds good. Thirty minutes to introduce TypeScript is great. Should be this meetup, right? http://www.meetup.com/sfnode/events/223344180/

If you want a description that's more suited to TypeScript, here's a summary I used last month:

[2016-02-18 22:45] paulgrock commented on #2
Yep, that's the right one. We're just finishing up locking down a host then we should be able to announce. I've updated the description to have the new bio/description for you. Let me know if you'd like anything changed.

[2016-03-04 15:57] #2 closed

[2016-05-20 19:04] JustinBeckwith opened #3 "Using Google BigQuery and the Cloud Vision API to analyze Reddit"
![CLOUDCATS](http://i.imgur.com/lzR8TDn.jpg)

Gathering deep meaning from images has traditionally been hard.  The [Google Cloud Vision API](https://cloud.google.com/vision/docs/)  can quickly classify images into thousands of categories, detect individual objects, landmarks, animals, and even facial expressions.  Combining the vast amount of data on [Reddit](reddit.com) with this API can produce

[2016-05-20 19:58] abritinthebay opened #4 "What could go wrong? Moving 80 Million Users to React, Redux, & NodeJS"
## Abstract:

Over the last year and a half Bleacher Report has moved from a monolithic Rails application to a micro-service based system with a front-end powered by an isomorphic React & Redux app running on NodeJS. This is the story of how Bleacher Report incrementally moved their front-end tech stack to this system, the challenges they encountered along the way, and some of their design solutio

[2016-05-20 21:14] paulgrock commented on #3
Hey @JustinBeckwith I just added your talk details to http://www.meetup.com/sfnode/events/223344186/. Everything look good?

[2016-05-20 21:16] paulgrock commented on #4
Hi @abritinthebay your talk details are up on http://www.meetup.com/sfnode/events/223344186/ would you mind taking a look at it to make sure all everything is good to go?

[2016-05-20 21:54] abritinthebay commented on #4
Looks good!

[2016-05-21 00:19] JustinBeckwith commented on #3
Looks good!

[2016-06-03 17:04] paulgrock commented on #3
This talk was awesome. Thanks @JustinBeckwith

[2016-06-03 17:04] #3 closed

[2016-06-03 17:04] paulgrock commented on #4
Thanks for the really great talk yesterday @abritinthebay!

[2016-06-03 17:04] #4 closed

[2016-06-03 17:26] dshaw opened #5 "The Node.js Ecosystem in Perspective"
Dan Shaw, CTO and Co-Founder of NodeSource.
http://twitter.com/dshaw

## The Node.js Ecosystem in Perspective

Node.js was created 7 years ago by Ryan Dahl to increase the performance of web application development. Node.js was born in the era of GitHub which led the project's phenomenal contribution story. It has superseded jQuery as the most important JavaScript project ever. Node.js is far from

[2016-06-03 23:05] abritinthebay commented on #4
You are very welcome! 👍

[2016-06-16 15:55] paulgrock commented on #5
This has been added to the [July event page](http://www.meetup.com/sfnode/events/224882983/).

[2016-06-21 20:21] cbas opened #6 "The Promise of HTTP/2 Push"
:clock3: ~15 minutes (+ Q&A?)

## Talk Abstract

Optimising asset delivery over HTTP/1.1 necessitated hacky "best practices" that are obsoleted by the design of HTTP/2. Features like stream multiplexing and header compression are easy to deploy, free wins. But HTTP/2 Push requires a rethink of some old habits. No more sprites, no more concatenating, no more icon fonts.

Let's take a look at HTTP/2

[2016-06-21 20:35] jasonong commented on #6
+1

[2016-06-22 18:42] paulgrock commented on #6
Talk looks good to me. We'll get this added to the meetup page for July

[2016-06-22 19:52] brennanMKE opened #7 "Promises with Generics using TypeScript"
🕒 ~15 minutes (+ Q&A?)

### Talk Abstract

----

Promises become much easier to use in your code base when generics reveal the types which will sent when a promise is resolved. And once you have a lot of code it will be possible to refactor because you will be able to use the errors and warnings made possible with generics to identify where changes are needed. This talk will cover how generics can

[2016-06-25 22:32] ev1stensberg opened #8 "Making tectonic shifts through node"
# Making tectonic shifts through node
⚠️ Abstract

Starting programming in JS is always a hard thing for a beginner. What framework am I going to use? What tools do I need for it to work? How do these tools work? These are some of the questions I've asked myself a lot when starting programming in JavaScript. And it may not come as a shock, that this is highly relative to NPM and NodeJS. This talk

[2016-06-29 23:55] LaurenSpiegel opened #9 "Open Source S3 Clone in Node"
We just built an S3 clone using Node and open sourced it!  The talk will cover:
- How Node enhanced the development process
- Problems encountered (e.g. ES6 compatibility) and solutions
- How developers can use the server to develop apps that are S3 compatible
- Demo

Speakers: Lauren Spiegel and Giorgio Regni

Lauren is a node developer working on the Scality team.  She over-thinks everything she

[2016-07-02 19:36] ev1stensberg commented on #8
This won't be as boring as it sounds, I promise <3

[2016-07-12 17:46] #5 closed

[2016-07-12 17:46] #6 closed

[2016-07-12 17:47] paulgrock commented on #7
@brennanMKE are you available to give this talk for the August event on 8.4?

[2016-07-12 17:49] paulgrock commented on #8
@ev1stensberg this talk doesn't sound boring at all. Are you cool with doing this talk for the August 4th event?

[2016-07-12 20:23] ev1stensberg commented on #8
@paulgrock Definitely! I'll actually be arriving to SF the day before so it fits well for my schedule. Anywhere I could get some practical information about location and such?

[2016-07-12 20:26] paulgrock commented on #8
That's great! I'll add your talk details to the meetups page.

We haven't announced the location yet but it's likely going to be at Earnest which is located at 1455 Market St. 18th Floor.

[2016-07-12 20:28] ev1stensberg commented on #8
Cool. I'll assume the time is there as well? ( at meetup.com/...)

[2016-07-12 20:30] paulgrock commented on #8
Doors open at 6:30 first talk will be at 7. Doors close around 9. That's the general schedule. http://www.meetup.com/sfnode/events/224882986/ is the link to the event.

[2016-07-12 20:33] ev1stensberg commented on #8
Thanks! See you there @paulgrock 💯

[2016-07-18 22:50] paulgrock commented on #9
@LaurenSpiegel are you available to give this talk in September? Our event is on the first of the month.

[2016-07-19 00:32] LaurenSpiegel commented on #9
@paulgrock Yes, sounds good!

[2016-07-19 02:22] paulgrock commented on #9
@LaurenSpiegel awesome. I'll add your talk details to the event page

[2016-07-19 02:41] GiorgioRegni commented on #9
Excellent @paulgrock , looking forward to it!

[2016-08-05 18:49] #8 closed

[2016-08-05 18:49] #7 closed

[2016-08-22 01:21] emilong opened #10 "Dependency Injection in Node"
## Abstract

Dependency injection (DI) is a popular pattern in Java, C#, and even in Angular, but is not often used in backend Node applications. This talk will discuss the pattern in general, how most Node developers are getting their dependencies now, and how DI might make your life easier, especially with larger applications. We'll present illustrative examples using the open-source [bottlejs](

[2016-08-22 14:59] paulgrock commented on #10
HI @emilong. Thanks for the talk submission. We're still looking for someone to present at the September event next Thursday, the 1st. Are you interested/available to present that night?

[2016-08-22 18:17] emilong commented on #10
@paulgrock Yup! That works great for me.

[2016-08-22 18:23] paulgrock commented on #10
@emilong Awesome! I've added your talk details to the [meetup page](http://www.meetup.com/sfnode/events/225747576/). Let me know if anything needs updated.

[2016-08-22 19:40] emilong commented on #10
Looks good. Thanks!

[2016-09-02 14:40] paulgrock commented on #9
Great talk last night, @LaurenSpiegel and @GiorgioRegni! Thanks for presenting. Would you post a link to your slides on here when you have the opportunity?

[2016-09-02 14:40] #9 closed

[2016-09-02 14:41] paulgrock commented on #10
Hey @emilong. Thanks for speaking last night. Could you post a link to your slides on here so we can share them with the rest of the community?

[2016-09-02 14:41] #10 closed

[2016-09-02 15:46] emilong commented on #10
Thanks @paulgrock! There's a repo here with the Spectacle slides and a sample project showing the technique I described: https://github.com/haus-inc/sfnode-sept2016-di

[2016-09-02 15:47] paulgrock commented on #10
Awesome! Thanks again for presenting last night, @emilong!

[2016-09-02 15:48] paulgrock commented on #10
Is there a place that people can view the slides online without cloning/npm installing this repo?

[2016-09-02 16:10] emilong commented on #10
Yes! Apparently it's really easy to publish to surge.sh with Spectacle, so I have done 😄 : http://sfnode-sept2016-di.surge.sh/

[2016-09-02 16:11] paulgrock commented on #10
Fantastic. Thank you.

[2016-09-02 16:15] emilong commented on #10
Thank you! Thanks for hosting!

[2016-09-06 07:31] ljharb opened #11 "`nvm`: maintaining a version manager for node.js"
- Full name and Bio:
  - Jordan Harband
  - bio to come later
 - Talk title and abstract (description):
  - Maintaining a version manager for node.js
    - (or, if you think JS is hard, try coding in POSIX)

 - Make sure talk is true to the title and abstract: ok
 - Twitter handle (optional): [@ljharb](https://twitter.com/ljharb)
 - Other social profiles or personal blog (optional): [Github](http:

[2016-09-07 21:24] josh-authy opened #12 "Authy and Node - Easy and Quick 2FA"
**Authy and Node - Easy and Quick 2FA**

As security in web applications gets increasingly complex, many businesses are turning to Two Factor Authentication as a way to secure their user's on-boarding and continued use.   We'll briefly discuss why _any_ 2FA is an important requirement for web citizenship.  We will also walk through a basic Authy 2FA implementation and discuss how it can be used fo

[2016-09-10 15:36] paulgrock commented on #11
Hey @ljharb are you still available to speak at the October event? The event details can be found http://www.meetup.com/sfnode/events/227074414/.

[2016-09-10 15:37] paulgrock commented on #12
HI @josh-authy When would you like to give this talk? We have an opening speaking slot in October if you're interested.

[2016-09-10 17:25] ljharb commented on #11
@paulgrock yup!

[2016-09-10 17:41] paulgrock commented on #11
@ljharb cool, I'll add your info to the meetup page. Do you have a bio you'd like me to use or should I just grab your twitter/github one?

[2016-09-10 19:44] ljharb commented on #11
I'll try to write one up later this month; otherwise that one's just fine, thanks

[2016-09-11 21:06] tlhunter opened #13 "Node, Redis, and You!"
Full name and Bio:
Thomas Hunter II
Thomas is passionate about technology and building products. A web design business created while attending college slowly evolved into a brick and mortar on Main St. of his small Midwestern hometown. His desire for fame and fortune led to the co-founding of a Y Combinator startup and a life in California.

Talk title and abstract:
Node, Redis, and You!
Get an ov

[2016-09-12 22:08] josh-authy commented on #12
Hi Paul,

October would be fine.  What kind of time-frame for the presentation?

- Josh

On Sat, Sep 10, 2016 at 8:37 AM, Paul Grock <notifications@github.com>
wrote:

--
Josh Staples
Solutions Architect, Authy

MOBILE 843.901.1978 <8439011978>
EMAIL jstaples@twilio.com

[2016-09-12 22:21] paulgrock commented on #12
Hey @josh-authy Talks are usually 20-30 minutes plus some time at the end for Q and A. Does that work for you?

[2016-09-12 22:43] josh-authy commented on #12
That'd work.  I'll design for that time constraint.

On Mon, Sep 12, 2016 at 3:21 PM, Paul Grock <notifications@github.com>
wrote:

--
Josh Staples
Solutions Architect, Authy

MOBILE 843.901.1978 <8439011978>
EMAIL jstaples@twilio.com

[2016-09-13 16:31] LaurenSpiegel commented on #9
@paulgrock, sorry for the delay.  Here are the slides: http://www.slideshare.net/Scality/scality-s3-server-node-js-meetup-presentation

Thanks again for hosting us!

[2016-09-13 16:43] paulgrock commented on #12
Cool. I'll get your information added to the event page.

[2016-09-20 13:39] shimont opened #14 "Data Pipeline Processing 200B events with Node.js And Docker On AWS"
## [Shimon Tolts](https://www.linkedin.com/in/tolts)
I am the General Manager, Data Solutions at [ironSource](https://www.crunchbase.com/organization/ironsource) the Israeli unicorn.
Focusing on load and scale problems around the data field.

## Data Pipeline Processing 200B events with Node.js And Docker On AWS
**I will explain how we transformed our [BigData pipeline](http://www.ironsrc.com/atom

[2016-09-21 14:52] paulgrock commented on #13
HI @tlhunter would you be interested in presenting during our November event on the 3rd?

[2016-09-21 14:57] paulgrock commented on #14
@shimont we've already got two speakers for our October event but have open space in November. Are you interested in presenting on November 3rd?

[2016-09-22 06:51] tlhunter commented on #13
@paulgrock I sure would be!

[2016-09-22 14:43] shimont commented on #14
Unfortunately I wont be in the US during November, I am coming from Israel to SF during from the 2nd until the 31st. Id love to switch with one of the speakers if possible

[2016-09-22 14:54] paulgrock commented on #14
@shimont you'll be in SF during October, right?

[2016-09-22 14:57] shimont commented on #14
Yep October

[2016-09-22 14:57] paulgrock commented on #14
ok, we'll see what we can do about getting you in to the October event. Thanks

[2016-09-22 21:55] paulgrock commented on #14
@shimont how long is your talk?

[2016-09-26 16:27] doronrosenberg opened #15 "EclairJS = Node.js + Apache Spark"
**EclairJS = Node.js + Apache Spark**
While Javascript usage continues to grow at a rapid pace, Javascript developers have not been able to directly work with distributed computing engines such as Apache Spark.  The open source EclairJS project changes that by providing the Spark API to Node.js developers, allowing them to use Apache Spark's large-scale analytics, streaming, SQL and machine learni

[2016-09-26 17:26] shimont commented on #14
20-30mins

[2016-09-27 12:35] shimont commented on #14
Will i be able to present?

[2016-09-27 15:07] paulgrock commented on #14
We're still working on it. We'll let you know.

[2016-09-27 15:09] paulgrock commented on #12
Hey @josh-authy would you be willing to do this talk in November on the 3rd instead? We have a speaker that is only in town for the October event that would like to present.

[2016-09-27 15:30] josh-authy commented on #12
Sure.

On Tue, Sep 27, 2016 at 8:12 AM, Paul Grock <notifications@github.com>
wrote:

--
Josh Staples
Solutions Architect, Authy

MOBILE 843.901.1978 <8439011978>
EMAIL jstaples@twilio.com

[2016-09-27 15:31] paulgrock commented on #12
Thank you so much!

[2016-09-27 15:32] paulgrock commented on #14
@shimont yes, you'll be able to present. I'll update the meet up page with your information.

[2016-10-03 16:09] shimont commented on #14
Thats great, see you there!

[2016-10-07 06:32] #11 closed

[2016-10-10 21:29] walmik opened #16 "Creating Electronic Dance Music with JavaScript & Node.js"
When you go to a club or a party or a rave.. What is one of the most obvious things you notice about the music?

Since we are engineers, what comes first to mind when we see something repeating itself over and over again?

I ve created a Node.js module called [Scribbletune](http://scribbletune.com/) which has a very minimalistic API (only 3 methods). I'd like to showcase this module along with the

[2016-10-13 17:51] paulgrock commented on #14
Thanks for the awesome talk @shimont !

[2016-10-13 17:51] #14 closed

[2016-10-13 17:52] paulgrock commented on #15
HI @doronrosenberg are you interested in speaking at our December event on the 8th?

[2016-10-13 17:53] IAmEddieDean commented on #16
🤘  This is going to be a rad talk.

[2016-10-14 14:56] doronrosenberg commented on #15
@paulgrock I can do the 8th.

[2016-11-07 17:13] #12 closed

[2016-11-07 17:13] #13 closed

[2016-11-15 20:22] JoeDoyle23 opened #17 "Common Operations Challenges with Node.js and How to Solve Them"
**Common Operations Challenges with Node.js and How to Solve Them**
As more companies use Node.js in production, they often run into common operational issues. We'll cover topics such as recommendations for installing Node.js, selecting the right modules, keeping your Node.js process running, and look at some common performance issues. We'll also see how N|Solid can help with some of these challen

[2016-11-15 22:19] danielkhan opened #18 "debugging < profiling < tracing < monitoring"
For each stage of your applications lifecycle there are viable ways to get insights into Node.js. Let’s explore- and also understand the theory behind them. What happens if we attach a debugger or what does the V8 profiling facility give us and what does it cost? How can we monitor Node in production, which metrics are important and why is it so hard to trace through Node.js’ execution? Let’s also

[2016-11-16 17:24] paulgrock commented on #15
@doronrosenberg would it be possible to move your talk to the January 5th event?

[2016-11-16 17:31] doronrosenberg commented on #15
@paulgrock Sure

[2016-11-16 17:32] paulgrock commented on #15
Great! Thanks for being so accommodating

[2016-11-16 17:36] paulgrock commented on #18
@danielkhan do you have a bio that we can add to the meetup page?

[2016-11-16 17:45] paulgrock commented on #16
@walmik are you interested in presenting at the January 5th event?

[2016-11-17 01:35] walmik commented on #16
@paulgrock Sure, would love to!

[2016-12-08 01:03] JacopoDaeli opened #19 "Real-time applications with GraphQL, Node.js and MQTT"
**About the talk**
[GraphQL](http://graphql.org/) is known as supporting queries and mutations, and now it supports subscriptions as well. With subscriptions clients can get updates pushed from the server when data they care about changes. In this talk, the speaker will describe how you can build a Real-time application using the GraphQL, Node.js and MQTT through a demo.

**About the speaker**
Jac

[2016-12-13 19:32] Whelpley opened #20 "Getting Started with Chat-Bots in Node.js"
# Chat-Bots in Node.js

## Abstract

This talk begins with a overview of the chat-bots landscape, explaining what they area and how they have appeared through the years, and why they are experiencing a resurgence in recent times. I then dive into a description of a specific application I made for GetHuman. While interning with them, I made a chat bot app in Node that enables customers to access th

[2016-12-22 12:14] walmik commented on #16
@paulgrock Hi Paul, is my talk on for the Jan 5 event?

[2016-12-22 17:16] paulgrock commented on #16
@walmik yes sir

[2016-12-23 17:23] #17 closed

[2016-12-23 17:23] #18 closed

[2016-12-26 21:49] vning93 opened #21 "GraphQL, Node, Tools & Services"
**Full name and Bio**

[Vincent Ning](@vning93) is a co-founder of [Scaphold.io](https://scaphold.io), a backend-as-a-service platform powered by GraphQL. He used to work at Microsoft as a software engineer for about a year before he and his roommate [Michael Paris](@mlp5ab) (also ex-Microsoft) decided it was time to create a more rapid hi-fidelity app-building experience. He's currently based out

[2016-12-26 21:53] vning93 commented on #19
Hey! I just stumbled upon your post while submitting my own talk proposal. Perhaps we can collaborate on an event together.

My talk proposal: #21

Let me know what works! My email is vince@scaphold.io

[2016-12-27 00:36] JacopoDaeli commented on #19
For sure man :-) what do you have in mind?

[2016-12-30 20:27] tlhunter opened #22 "Service Discovery with Node.js and Consul"
### Full name and Bio
**Thomas Hunter II**: Thomas is passionate about technology and building products. A web design business created while attending college slowly evolved into a brick and mortar on Main St. of his small Midwestern hometown. His desire for fame and fortune led to the co-founding of a Y Combinator startup and a life in California.

### Talk title and abstract
**Service Discovery

[2017-01-03 20:59] vning93 commented on #19
Happy new year! We could speak about GraphQL Subscriptions from a service perspective while you're there as well and perhaps provide a collaborative demo.

If you want to focus on Node and MQTT, we can provide a different approach to implementing real-time subscriptions with Redis.

[2017-01-03 23:15] JacopoDaeli commented on #19
@vning93 works for me mate. Let see if we get a spot for presenting this in February.

[2017-01-04 05:46] vning93 commented on #19
Yeah sounds good! Hopefully

[2017-01-10 17:52] paulgrock commented on #15
@doronrosenberg are your slides on the Internet somewhere so we can share them with the group?

[2017-01-10 17:53] paulgrock commented on #19
@JacopoDaeli @vning93 would you two be up for doing this talk in February?

[2017-01-10 17:54] JacopoDaeli commented on #19
HI, which day?

[2017-01-10 17:56] paulgrock commented on #19
Sorry about that. The event is on Thursday the 2nd.

[2017-01-10 17:56] JacopoDaeli commented on #19
It should work for me.

[2017-01-10 18:05] paulgrock commented on #20
@Whelpley are you interested in presenting at our February event on the 2nd?

[2017-01-10 18:31] paulgrock commented on #22
@tlhunter would you like to give this presentation at the March event on the 2nd?

[2017-01-10 19:19] vning93 commented on #19
Works for me as well @paulgrock!
@JacopoDaeli Want to hop on a call to share topics so we don't step on each other's toes?

[2017-01-10 19:46] JacopoDaeli commented on #19
@vning93 sure, I will let you know when I will be available.
I am traveling for the next 2 week for work, and my schedule is pretty tight, but I am sure we can schedule a call end of next week. I will be in Paris, so my evening will be your morning... it should work :-) I keep you posted.

[2017-01-10 20:22] Whelpley commented on #20
Hi Paul,

I'd be delighted to!

What should I know about adapting my talk to this meetup's presentation
format?

Cheers,
Michael

On Tue, Jan 10, 2017 at 10:05 AM, Paul Grock <notifications@github.com>
wrote:

[2017-01-10 20:33] doronrosenberg commented on #15
@paulgrock I gave a pdf to the video guy, but here is a link to it: https://github.com/doronrosenberg/presentations/blob/master/sfnode.pdf

[2017-01-10 20:41] paulgrock commented on #15
@doronrosenberg thanks!

[2017-01-10 20:41] #15 closed

[2017-01-10 20:43] paulgrock commented on #20
The talks are usually 20-30 minutes with some Q&A time afterwards if you'd like that.

[2017-01-10 20:49] paulgrock commented on #19
@vning93 @JacopoDaeli for the talk title and description what would y'all like us to use on the meet up page? I can just put "graphQL talk" in the title area for now and update the title/description once you two have had a chance to talk if you'd like

[2017-01-10 21:16] Whelpley commented on #20
I could definitely adapt to that format. Is there anything else I need to
know?

On Tue, Jan 10, 2017 at 12:43 PM, Paul Grock <notifications@github.com>
wrote:

[2017-01-10 21:23] paulgrock commented on #20
Not really. The video you linked seems pretty similar to what we have going on at our events. If you'd like to check out some of the past presentations our youtube channel is https://www.youtube.com/channel/UCbWHWaCKZqIm5pE5hSD7KFw. That should give you an idea of how we do things.

[2017-01-11 01:50] tlhunter commented on #22
Yes, that time would be great for me.

[2017-01-11 13:57] LewisJEllis opened #23 "Robust Error Handling In Node.js Applications"
Hi SFNode!

### Speaker bio
Lewis Ellis is a software engineer working for Sentry, the open source crash reporting and error tracking service. He maintains Sentry's [Node.js client](https://github.com/getsentry/raven-node) which reports 100 million errors every week.

Some of his other [open source](https://github.com/LewisJEllis) work includes [Bee-Queue](https://github.com/LewisJEllis/bee-queue)

[2017-01-12 00:56] vning93 commented on #19
How about just "Rapid development of real-time apps with GraphQL and Node"? We don't do much with MQTT so might be misleading for our part of the presentation if we don't mention anything about MQTT.

[2017-01-12 01:11] JacopoDaeli commented on #19
@vning93 I use MQTT for some specific reasons that I want to explain because it's very important especially when developing real-time mobile application. Think for example low battery consumption: MQTT is optimised for this.
What about "Rapid development of real-time apps with GraphQL, Node.js and MQTT" ?

[2017-01-12 18:00] vcn8fn commented on #19
Ah that makes sense. That works! Would you like to hop on a quick call to go over details? My email is vince@scaphold.io.

[2017-01-12 18:28] JacopoDaeli commented on #19
Sweet, we'll do soon @vcn8fn! @paulgrock all good for you? Can you confirm our talk?

Title: Rapid development of real-time apps with GraphQL, Node.js and MQTT

[2017-01-12 18:29] paulgrock commented on #19
@JacopoDaeli @vcn8fn yep I'm good. The talk is confirmed and the [event page](https://www.meetup.com/sfnode/events/228990242/) has been updated with the new title.

[2017-01-12 18:35] JacopoDaeli commented on #19
@paulgrock can you just quickly update my bio in the meetup event?

Jacopo Daeli (@JacopoDaeli) is a Computer Scientist, Software Engineer and Hacker, passionate about web technologies. He develop with Node.js, Go, C/C++, React and Redux for the web. After a couple of years in London, where he worked as Chief Software Engineer for Impero, Jacopo is now working as Head of Software Engineering at Pi

[2017-01-12 18:37] paulgrock commented on #19
@JacopoDaeli done and done.

[2017-01-12 18:38] JacopoDaeli commented on #19
Ah ah, thanks. Just wanted to remove my Twitter user and link my name to my website directly.  You are to quick, didn't have time to update my comment :-)

[2017-01-12 18:39] paulgrock commented on #19
updated again 😄

[2017-01-12 18:40] JacopoDaeli commented on #19
Sweet, thanks a lot. See you at the event.

[2017-01-12 20:28] vning93 commented on #19
This is awesome @paulgrock @JacopoDaeli ! Super excited to be speaking here.

@JacopoDaeli The bio looks great!
Can you update the link to Scaphold.io to (https://scaphold.io/?source=sfnode) though?

Cheers!

[2017-01-12 20:59] jondb opened #24 "Location to host in September"
Blend's open to hosting a meetup in September at our new location. Let's chat to coordinate. jon@blendlabs.com

[2017-01-12 21:24] paulgrock commented on #19
@vning93 done

[2017-01-12 21:28] paulgrock commented on #24
Hi @jondb I'll send you an email regarding hosting. Thanks for reaching out.

[2017-01-16 17:58] #16 closed

[2017-02-03 03:11] paulgrock commented on #19
@jacopodaeli and @vning93 are you two here? If so can you come find me. I'm the really tall guy in a light blue shirt

[2017-02-03 22:15] tlhunter opened #26 "OpenTable as a venue sponsor"
I'd like to volunteer OpenTable as a potential venue location. We're located at 1 Montgomery St on the seventh floor.

Here's a picture of our space (before recent remodeling):
https://a248.e.akamai.net/secure.meetupstatic.com/photos/theme_body/d/7/f/0/full_6835280.jpeg

We can seat up to 120 people.

[2017-02-04 01:45] paulgrock commented on #20
@whelpley do you have your slides posted online anywhere or could you email them to me? We'd love to have them for the video

[2017-02-04 01:47] paulgrock commented on #21
@vning93 do you have your slides posted online anywhere or could you email them to me? We'd love to have them for the video.

[2017-02-04 02:31] vning93 commented on #21
Just emailed them to you. Thanks again for hosting us!

[2017-02-04 04:03] kgryte opened #27 "Numeric Computing with Node.js"
## Title

## Abstract

Node.js and number crunching may seem an odd pair, but this is rapidly changing. In this talk, Athan will discuss the current state-of-the-art for numeric computation in Node.js and highlight emerging technologies and libraries for analysis and machine learning. He will discuss what to look for in numeric computing libraries, common implementation mistakes, and how to avoid

[2017-02-04 19:39] #21 closed

[2017-02-04 19:42] JacopoDaeli commented on #19
@paulgrock here we go:
https://speakerdeck.com/jacopodaeli/sfnode-real-time-apps-with-graphql-node-dot-js-and-mqtt

[2017-02-04 19:42] paulgrock commented on #19
@JacopoDaeli thanks!

[2017-02-04 19:42] #19 closed

[2017-02-06 19:17] Whelpley commented on #20
Hi,

I currently have the slides on Google - let me know if this link does not
work for you, and I can export it to a PDF (or other preferred format):

https://docs.google.com/presentation/d/17HyGDFXk4ROQWMqRaN0qVnXlISnt-BkbFkRKBegVchA/edit#slide=id.p

It was thrill presenting - thank you for giving me the space to speak!

Cheers,
Michael

On Fri, Feb 3, 2017 at 5:45 PM, Paul Grock <notifications@

[2017-02-07 19:29] paulgrock commented on #20
Thanks @Whelpley

[2017-02-07 19:29] #20 closed

[2017-02-09 22:32] pstan26 opened #28 "Blockstack Speaker Request"
My name is Patrick Stanley and I'm helping with community development at Blockstack.org. We are building a decentralized internet so JS developers can build decentralized serverless applications. Was wondering if we could get on the docket for an upcoming meetup as a speaker?

We are preparing to do some events in the Javascript community so will have a refined presentation and probably a hands-on

[2017-02-14 07:10] tejasmanohar opened #29 "Talk Proposal: Getting Started with GRPC and Node.js"
## About Tejas Manohar
Tejas Manohar is an engineer at [Segment](https://segment.com/). He's helped maintain many popular Node.js modules, including [node-schedule](https://github.com/node-schedule/node-schedule) and [koa](https://github.com/koajs/koa/tree/v2.x). In his leisure time, Tejas hacks on [Quilt](https://github.com/NetSys/quilt), a simple way to use JavaScript to build and manage anythin

[2017-03-03 18:30] geva opened #30 "Stranger Danger: addressing the security risk in npm dependencies"
# Abstract
Open source modules, and especially npm, are undoubtedly awesome. However, they also represent an undeniable and massive risk. You’re introducing someone else’s code into your system, often with little or no scrutiny. The wrong package can introduce severe vulnerabilities into your application, exposing your application and your users data.

The talk will use a sample application, Goof,

[2017-03-03 23:29] paulgrock commented on #22
Hey @tlhunter. Thanks for the talk last night. The video of your talk is up at https://www.youtube.com/watch?v=I1lLzPb3MLg.

[2017-03-03 23:29] #22 closed

[2017-03-03 23:31] paulgrock commented on #23
Hi @LewisJEllis. The video for your talk is up at https://www.youtube.com/watch?v=7G3C8Y5tzw4. Are your slides available anywhere that I can link in the video description?

[2017-03-03 23:56] LewisJEllis commented on #23
Cool, thanks! Yep, just threw them up on speakerdeck: https://speakerdeck.com/lewisjellis/robust-error-handling-in-node

[2017-03-03 23:58] paulgrock commented on #23
@LewisJEllis thank you, sir!

[2017-03-03 23:58] #23 closed

[2017-03-04 00:00] paulgrock commented on #27
Hi @kgryte are you interested in giving this talk at our April event on 4.6?

[2017-03-04 05:18] kgryte commented on #27
@paulgrock I won't be in the country for the April event. :(

Would I be able to speak at the May (5.4) event?

[2017-03-05 23:14] paulgrock commented on #27
@kgryte May works for me.

[2017-03-05 23:16] kgryte commented on #27
Awesome!

[2017-03-09 16:27] paulgrock commented on #26
@tlhunter is OpenTable interested in hosting June 1st?

[2017-03-09 19:23] tlhunter commented on #26
I'm checking with the appropriate channels now.

[2017-03-09 19:31] tlhunter commented on #26
@paulgrock Are you looking for building and food/beer sponsoring or do you normally have separate sponsors?

[2017-03-09 19:33] paulgrock commented on #26
@tlhunter we'd prefer to have the host provide food and drinks.

[2017-03-11 06:46] tlhunter commented on #26
@paulgrock I've gotten it confirmed that we can host and feed SF Node on June 1st.

[2017-03-11 22:44] paulgrock commented on #26
@tlhunter That's fantastic! Could you track down the answers to the following questions for us as well? Once we get those we'll update the meetup page with OpenTable's info.

- What is the address, floor, room name if any, entrance instructions?
- Do we need to submit an attendee list for security purposes?
- What's the total number of people that space can hold?
- Will food and drinks will be pro

[2017-03-11 23:31] paulgrock commented on #29
@tejasmanohar are you interested in speaking at our April event on the 6th?

[2017-03-12 01:42] tejasmanohar commented on #29
For sure! @paulgrock

[2017-03-13 18:45] paulgrock commented on #29
@tejasmanohar Great! I'll add your info to the meetup page.

[2017-03-13 18:52] paulgrock commented on #28
Hi @pstan26 - Thanks for submitting your talk proposal. We try to avoid talks that are specifically focused on a particular product but if you have a talk that focuses on Node and how you all are using it to succeed or something similar that might be more compelling for our audience.

[2017-03-13 18:54] paulgrock commented on #30
@geva your talk sounds really great. I'd love to hear more about security and avoiding some of typical mishaps. Are you interesting in speaking at our upcoming April 6th event?

[2017-03-13 19:51] pstan26 commented on #28
@shea256 what do you think about giving a node-focused talk?

[2017-03-15 00:46] tlhunter commented on #26
* OpenTable, Floor 7, 1 Montgomery St, San Francisco, CA 94104
* No attendee list is required, we can have someone badge visitors up
* We usually set our Meetup max to 120, we can realistically seat maybe 90
* We can provide food and drinks. We normally have Vegetarian options. I'm unsure about Vegan.
* We have a large projector and an available HDMI port
* We can support both a handheld mic and a

[2017-03-15 14:52] paulgrock commented on #26
@tlhunter Thanks for the info. That's all we should need for now.

[2017-03-16 02:09] paulgrock commented on #26
@JasonNierrasOT sounds goods. I updated the address on the meetup page https://www.meetup.com/sfnode/events/231626003/. As we get closer to the event I'll pass along more details about the presentations.

[2017-03-22 20:49] nebrius opened #31 "Microsoft hosting SFNode"
Microsoft has a few locations in SF that we can host SFNode at for the August or later events.

Our primary (and best) event space is the Microsoft Reactor at 680 Folsom, but there's a pretty decent chance it will still be under construction then, in which case we should also be able to use our office at 555 California St. The Reactor space is easy to use for events, but 555 is a bit more annoying

[2017-03-22 21:59] nebrius opened #32 "Talk Proposal: Introduction and Best Practices for TypeScript"
### Personal Info

**Name:**

Bryan Hughes

**Twitter Handle:**

[@nebrius](https://twitter.com/nebrius)

**Bio:**

Bryan Hughes is a Developer Evangelist at Microsoft and member of the [Node.js Technical Steering Committee](https://github.com/nodejs/TSC) and [Node.js Community Committee](https://github.com/nodejs/community-committee). Bryan is the creator of [Raspi IO](https://github.com/nebrius/

[2017-03-27 11:40] luise opened #33 "Quilt: JavaScript for Cloud Infrastructure"
## Abstract
Container orchestrators  have made great progress towards easier deployment and management of distributed applications. However, the process remains difficult, time consuming, and inefficient, largely due to rigid YAML/JSON or RESTful APIs.
In this talk, Ethan will introduce [Quilt](http://quilt.io), a research project out of UC Berkeley, that aims to solve this issue with a new open s

[2017-03-28 18:58] nebrius opened #34 "Talk Proposal: The Node Community: Past, Present, and Future"
### Personal Info

**Name:**

Bryan Hughes

**Twitter Handle:**

[@nebrius](https://twitter.com/nebrius)

**Bio:**

Bryan Hughes is a Developer Evangelist at Microsoft and member of the [Node.js Technical Steering Committee](https://github.com/nodejs/TSC) and [Node.js Community Committee](https://github.com/nodejs/community-committee). Bryan is the creator of [Raspi IO](https://github.com/nebrius/

[2017-04-06 01:11] TingC opened #35 "Utilizing tools to build GraphQL backend for rapid development"
# Abstract
GraphQL is a powerful technology providing client an efficient and elegant way to fetch data, getting exactly the data and avoid multiple round-trips.

The GraphQL community is evolving fast, with various tools emerging for HTTP server integration, query and mutation support, schema translations and ORMs. I'm a co-author of library called [Allograph](https://github.com/allograph/allogra

[2017-04-06 15:28] kevinburke opened #36 "Talk proposal: Fix your oncall problems by using the database"
## Abstract

The ORM's in many common application frameworks issue database queries in a way
that can cause concurrency problems, and cause your team to get paged. I'll
show you how using the database's built-in correctness properties helped our
business and made our on-call teams much happier.

## Bio

[Kevin Burke](https://twitter.com/derivativeburke) scaled a Node.js app at [Shyp](https://shyp.

[2017-04-08 21:13] paulgrock commented on #29
Thanks for giving a talk the other day, @tejasmanohar. The video of your talk is up at https://www.youtube.com/watch?v=U7GTHv0bn3w

[2017-04-08 21:13] #29 closed

[2017-04-08 21:15] paulgrock commented on #27
Hey @kgryte we're trying out something different for our May event and it is going to be in Emeryville. Does that still work for you? If not we can reschedule for another month.

[2017-04-08 22:35] tejasmanohar commented on #29
Thanks! I really enjoyed it.

[2017-04-09 03:14] kgryte commented on #27
Will the venue be easily accessible via BART?

[2017-04-10 16:04] paulgrock commented on #27
You can get there via the emerygoround from MacArthur Bart. It stops right on the corner near the building. That's how I plan to get there.

[2017-04-10 20:07] kgryte commented on #27
Yes, I can swing Emeryville.

[2017-04-10 21:59] paulgrock commented on #27
Awesome! Thanks!

[2017-04-24 20:24] morganrallen opened #37 "Talk: Big Shiny Button, Must Hit."
Or..

# Using Electron in a Stop Motion Animation Booth

An exploration of using `Electron`, `Arduino`, `node-serialport` and a bit of Linux magic to create a stop motion animation booth for museum visitors.
Fun topics include...

- The Electron in the Carpet
- Small hands can grip small parts
- How did all these wires get twisted?
- How live logging can tell you the future (it's about to break)

[2017-04-24 23:10] paulgrock commented on #37
hey @morganrallen are you available to present next Thursday in Emeryville?

[2017-04-25 02:13] thejsj opened #38 "Talk: The simplest guide you've ever seen to deploying a Node.js application with Kubernetes"
**Title:** The simplest guide you've ever seen to deploying a Node.js application with Kubernetes

**Description:**

Kubernetes is quickly becoming the most important technology for deploying applications. Through the use of container technologies such as Docker, Kubernetes allows developers to declare the way their applications work through code by making use of certain important abstractions (po

[2017-04-25 02:57] morganrallen commented on #37
4th? Yeah, think I can swing that

[2017-04-25 03:19] paulgrock commented on #37
Yep the fourth. Cool, I'll add your details to the Meetup page. Looking forward to hearing the talk.

[2017-05-05 04:53] kgryte commented on #27
Link to my slides: https://kgryte.github.io/talks-sfnode-may-2017

[2017-05-08 15:21] paulgrock commented on #37
@morganrallen will you send me a link to your slides from the other night?

[2017-05-09 14:32] kellyjandrews opened #39 "Talk: Docker + Codeship - Development to Deployment in 30 minutes"
Building software these days has changed in dramatic ways, increasing the pressures to deliver software at a fast pace. If you aren’t already using test automation and Continuous Integration/Continuous Deployment (CI/CD) in your workflow, then you may be running less efficiently than you realize.

In this talk, Kelly Andrews from Codeship will take an application, Dockerize and run it locally, the

[2017-05-09 17:42] morganrallen commented on #37
Here ya go. https://gitlab.com/morganrallen/nodejs-big-shiny-button

Thanks again for having me.

[2017-05-09 17:46] paulgrock commented on #37
@morganrallen thanks for speaking. Your talk was awesome!

[2017-05-09 17:46] #37 closed

[2017-05-09 17:46] paulgrock commented on #27
Thanks @kgryte Great talk!

[2017-05-09 17:46] #27 closed

[2017-05-10 16:41] paulgrock commented on #37
@morganrallen are these available anywhere that we can link to?

[2017-05-15 22:51] morganrallen commented on #37
Sorry that took so long
http://morganrallen.gitlab.io/nodejs-big-shiny-button/

[2017-05-16 17:13] paulgrock commented on #32
@nebrius are you interested in giving this talk at our June event?

[2017-05-16 17:24] nebrius commented on #32
@paulgrock I am yes! Just to confirm, the June event is Thursday June 1st, correct?

[2017-05-16 17:32] paulgrock commented on #32
@nebrius yessir it is.

[2017-05-16 17:59] paulgrock commented on #33
hi @luise would you like to present during our June event on the first?

[2017-05-16 18:01] paulgrock commented on #26
hey @JasonNierrasOT and @tlhunter just checking in to make sure everything is on track for the event in a few weeks. Is there anything you'd like from us at the moment?

[2017-05-17 04:28] tlhunter commented on #26
I think we're set for now.

Do you know who the speakers will be? When will you open RSVP's for the event?

[2017-05-17 05:18] luise commented on #33
@paulgrock , that would be awesome!

[2017-05-17 17:05] paulgrock commented on #33
@luise Great! I'll add you to the meetup page.

[2017-05-17 17:13] paulgrock commented on #26
@tlhunter we're opening RSVP's tomorrow. The talks for the night are #33 and #32.

[2017-05-17 17:36] tlhunter commented on #26
Great! Please email us at meetup@opentable.com if anything urgent comes up.

[2017-05-17 19:05] dshaw commented on #30
@geva Are you able to do this at the June 1st meetup? We're back in SF at OpenTable this month.

[2017-05-17 21:44] geva commented on #30
What time in the city?
Baby just arrived (!) and grandpa lands 3p on June 1st in SJC. Might be
challenging.
On Wed, May 17, 2017 at 12:05 PM Dan Shaw <notifications@github.com> wrote:

[2017-05-17 22:16] dshaw commented on #30
@geva Congratulations! 👶  SFNode opens at 6:30 with talks starting at 7pm. We already have 2 talks, so no problem if it's better to wait for a later date.

[2017-05-17 22:54] geva commented on #30
Ok. July would be more convenient then.
On Wed, May 17, 2017 at 3:16 PM Dan Shaw <notifications@github.com> wrote:

[2017-05-27 20:08] paulgrock commented on #35
Hi @TingC would you like to present at our July event on the 6th?

[2017-05-29 05:51] TingC commented on #35
Yes, @paulgrock that would be great!

[2017-06-01 18:21] paulgrock commented on #26
Just sent over the guest list.

[2017-06-04 00:16] rdegges opened #40 "Talk: Everything You Ever Wanted to Know About Web Authentication in Node"
Want to learn how web authentication works? How your login information is transmitted from a web browser to a web server, and what happens from that point onwards? How authentication protocols work behind the scenes?

In this talk, Randall Degges, Developer Advocate at Okta, will walk you through the entire web authentication flow, covering:

- Credential transmission
- Cookies
- Sessions
- Databa

[2017-06-08 16:13] geva commented on #30
Hi Dshaw,

Is this talk confirmed for Thursday 7/6 in SF?

  Geva.

On Wed, May 17, 2017 at 3:54 PM, Geva Solomonovich <geva@snyk.io> wrote:

--
Geva Solomonovich
*Chief Operating Officer*
m: (408) 218-1531  e: geva@snyk.io

[2017-06-08 17:16] paulgrock commented on #30
@geva yeah, it's confirmed.

[2017-06-08 21:40] dshaw commented on #30
Excellent. Glad to hear.

[2017-06-12 04:41] #26 closed

[2017-06-12 09:17] snowcrash007 opened #41 "Talk: Building Kickass APIs with NodeJS and ExpressJS"
As Express continues to build in popularity, this widely adopted framework is becoming an essential open source tool for optimizing APIs.

Redesigning an API is a journey, not a destination. As a developer,  it's important to understand how open source tools like ExpressJS could potentially impact your application. Where to start? What are key benefits that ExpressJS could bring to the table? Thes

[2017-07-06 00:51] kemitchell opened #42 "Talk: Disco-Era Technology for Better Contracts Today!"
## Full name and Bio

Kyle E. Mitchell

Web coder. Redline-munching law-office dweller. Too many npm packages, mostly junk. Open Source licensing, database, markup language, and other tools.

## Talk title and abstract (description)

Disco-Era Technology for Better Contracts Today!

Common Form tools use Node.js, the browser, and disco-era software moves to bring all today's programming favorites-

[2017-07-08 20:20] #30 closed

[2017-07-08 20:21] #35 closed

[2017-07-08 20:32] #32 closed

[2017-07-08 20:33] #33 closed

[2017-07-08 20:59] paulgrock commented on #36
hi @kevinburke are you interested in speaking at our upcoming event on August 3rd?

[2017-07-09 00:11] kevinburke commented on #36
Yes!

[2017-07-15 21:38] paulgrock commented on #36
@kevinburke Rad! We'll get you added to the meet up page.

[2017-07-15 23:18] kevinburke commented on #36
Great! Can you give me some more detail about how long I should prepare a
talk for?

On Sat, Jul 15, 2017 at 15:38 Paul Grock <notifications@github.com> wrote:

--

--
Kevin Burke
925.271.7005 | kev.inburke.com

[2017-07-15 23:19] paulgrock commented on #36
Sure. Our talks are usually 20-30 minutes with some brief Q&A afterward.

[2017-07-19 15:31] paulgrock commented on #38
Hi @thejsj would you like to present at our August event on the 3rd?

[2017-07-23 23:11] paulgrock commented on #39
Hi @kellyjandrews are you interest in speaking at our event on august 3rd?

[2017-07-24 15:22] kellyjandrews commented on #39
Unfortunately I won't be able to make this. Thanks for the invite though!

[2017-07-24 15:25] paulgrock commented on #40
Hey @rdegges would you like to present at our August event on the 3rd?

[2017-07-24 15:25] paulgrock commented on #39
That's too bad. Perhaps our September event on the 7th?

[2017-07-24 15:30] kellyjandrews commented on #39
I will also be unavailable. Maybe October?

[2017-07-24 16:36] paulgrock commented on #39
Sure, that event is October 5th. Does that work?

[2017-07-24 16:52] kellyjandrews commented on #39
I think we can make that work.

[2017-07-24 21:47] paulgrock commented on #41
@snowcrash007 are you interested in presenting at our next event on August 3rd?

[2017-07-25 16:20] paulgrock commented on #42
@kemitchell would you like to present at our August event on the 3rd?

[2017-07-26 20:39] codebunny19 commented on #41
Yes! That would be amazing! What are next steps?

[2017-07-26 20:41] paulgrock commented on #41
We've got everything we need from you. We'll add your talk details and such to the meetup page. Then all that's left is the presentation next Thursday. Do you have any questions for us?

[2017-07-31 04:05] rahulreddy opened #43 "Talk: Async data replication using Backbeat"
**Topic:** Async data replication using Backbeat

**Context:** Backbeat is an open-source project built at Scality Inc., also offering open-source S3 through the new product suite Zenko. Essentially Backbeat is a core engine which can be extended for many use cases where data needs to be manipulated or transitioned. Built in node.js, at it's heart Backbeat uses Kafka as a queue manager and exposes

[2017-08-04 03:45] Trott opened #44 "Talk: What's New In Node.js 9.0.0?"
This would be great to do at the November 2 meetup because odds are Node.js 9.0.0 will have just dropped and be available at fine record stores in your neighborhood. I promise not to just read the CHANGELOG.md file. I will, at a MINIMUM, read the CHANGELOG.md file interspersed with comments...comments that will PROBABLY be about the changes that I am reading from the CHANGELOG.md. This will be the

[2017-08-07 01:14] #31 closed

[2017-08-07 01:16] paulgrock commented on #36
Thanks for giving presenting the other day @kevinburke. It was great!

[2017-08-07 01:16] #36 closed

[2017-08-07 01:23] paulgrock commented on #43
@rahulreddy I believe we spoke at the last event and you were interested in presenting at our September event, is that right?

[2017-08-07 20:46] rahulreddy commented on #43
That's correct. I am open to present at the September event.

[2017-08-07 21:23] paulgrock commented on #43
Awesome. I'll get you added to the event page

[2017-08-07 22:17] rahulreddy commented on #43
Thank you!

[2017-08-07 23:03] #41 closed

[2017-08-07 23:04] snowcrash007 opened #45 "Follow up - Video for Events"
Hey Team!
Someone mentioned that you all are in search of video capabilities for the meetup and I am happy to get more involved including livestreaming it if that's something that is interesting. Anyway - let me know- we're happy to help and support wherever is needed.

d

[2017-08-17 20:36] paulgrock commented on #45
Hi @snowcrash007 we'd love to have your help with video. Dellaena, could you send us an email to temasfnode at gmail and we can discuss specifics?

[2017-08-17 20:38] paulgrock commented on #38
@thejsj are you interested in presentating at our next event on the the 7th of September?

[2017-08-25 01:24] paulgrock commented on #40
@rdegges we're on the lookout for a second speaker for our event on 9.7. You interested?

[2017-08-26 11:09] zaiste opened #46 "Talk Proposal: Rapid web development with Huncwot & Marko"
## Abstract
[Huncwot](https://github.com/zaiste/huncwot) is an opinionated & minimal Node.js (yet another) web framework, slightly inspired by Clojure and built for ES6/7 era with « batteries included » approach. It tries to formalize conventions and eliminate choices by providing solid defaults for building web applications that increase the programmers productivity. In this talk we'll explore ho

[2017-08-27 14:36] paulgrock commented on #46
hi @zaiste we'd love to have you speak at our October 5th event.

[2017-08-27 15:46] zaiste commented on #46
@paulgrock Thank you for accepting my proposal! I'm looking forward to the event, see you soon!

[2017-08-27 21:27] kemitchell commented on #42
@paulgrock, I'm sorry! For some reason I didn't receive an e-mail notification of your replies.

Yes, I would be very happy to speak on September 7.

[2017-08-27 21:29] paulgrock commented on #42
Great. I'll add you to the meetup page.

[2017-08-27 21:34] kemitchell commented on #42
Thank you!

[2017-09-10 17:02] #45 closed

[2017-09-10 17:02] #24 closed

[2017-09-14 07:23] Zahidul-Islam opened #47 "Talk Proposal: Let's build a Chatbot (sfnode-bot) using Microsoft's Bot Framework, LUIS and Node.js"
### Let's build a Chatbot (sfnode-bot) using Microsoft's Bot Framework, LUIS and Node.js

#### Abstract

This talk  will start with a very brief overview of what **Chatbot** are,  why we should care and the landscape?  Then we will explore the **Chatbot lifecycle**, Microsoft's **Bot Framework** and **LUIS (NLU)**. Together we will implement a simple **Chatbot (sfnode-bot)** which will be able to

[2017-09-15 17:57] ghmeier opened #48 "Talk Proposal: Effective Promise patterns in node 6 and beyond."
## Effective Promise patterns in node 6 and beyond.

### Abstract

Promises can be an effective way of avoiding a tangled mess of nested callbacks, especially with the introduction of `async/await`. However, it's not always easy to integrate existing, callback-
based modules with newer Promise-based ones and it's an even larger task to migrate existing code to use Promises.

We faced this exact pr

[2017-10-01 17:53] gregorybesson opened #49 "Talk Proposal: AbeCMS - The lightning fast CMS"
# Abstract
[![AbeCMS](https://avatars2.githubusercontent.com/u/23280205?v=4&s=50)](https://github.com/abecms/abecms) is an open source (MIT) CMS framework proudly propelled by NodeJS and Express 4.
Already adopted by big companies and US startups, AbeCMS revolutionize the way we create CMS pages by proposing a markup language to dynamize your html pages and create the back-office in the same time.

[2017-10-10 16:32] #42 closed

[2017-10-10 16:33] #43 closed

[2017-10-10 16:33] #39 closed

[2017-10-10 16:33] #46 closed

[2017-10-10 16:34] paulgrock commented on #38
Closing this issue due to lack of activity.

[2017-10-10 16:34] #38 closed

[2017-10-10 16:34] paulgrock commented on #40
Closing this issue due to lack of activity. Feel free to comment if this is still something you're still interested in speaking.

[2017-10-10 17:04] rdegges commented on #40
Oh hey -- I somehow never got the notification here :( I'd still love to give this talk! Or another fun one <3

[2017-11-03 00:06] tlhunter opened #50 "Talk Proposal: The Long Road to Async/Await in JavaScript"
Talk might be redundant with tonights https://github.com/sfnode/sfnode/issues/48 talk.

## Full name and Bio

**Thomas Hunter II** is passionate about technology and building products. A web design business created while attending college slowly evolved into a brick and mortar on Main St. of his small Midwestern hometown. His desire for fame and fortune led to the co-founding of a Y Combinator sta

[2017-11-10 03:36] #44 closed

[2017-11-10 03:37] #48 closed

[2017-11-10 03:39] paulgrock commented on #40
Hey @rdegges I totally forgot to get back to you about speaking. We’d definitely love to have you give a talk. We’ve got an opening in January on the 4th if you’re interested. Why JWTs suck or your original talk would be fun. Let us know which one you’d prefer and we can pencil it in.

[2017-11-10 05:36] rdegges commented on #40
Sounds good. I can totally do the Why JWTs Suck talk, it's a lot more fun =) It's definitely aimed at a more advanced audience though! If that's cool, I can submit an abstract for it.

[2017-11-10 15:09] paulgrock commented on #40
We try to have a beginner talk and a more advanced one so that should totally work. Looking forward to it.

[2017-11-13 19:49] rdegges opened #51 "Talk Proposal: JWTs Suck"
JSON Web Tokens (JWTs) are all the rage in the security world. They’re becoming more and more ubiquitous in web authentication libraries, and are commonly used to store a user’s identity information.

In this talk Randall Degges, Head of Developer Advocacy at Okta, will take you on an extensive tour of the web authentication landscape. You’ll learn how JWTs and Sessions work, and why JWTs are the

[2017-11-13 19:56] rdegges commented on #40
@paulgrock https://github.com/sfnode/sfnode/issues/51

[2017-11-13 23:25] Trott commented on #51
Personally, I would prefer if the title were a bit more descriptive and less clickbait-style. Although I guess "JWTs Suck" is more succinct and catchier than "JWTs May Not Be The Best Choice For Many Use Cases Where They Are Frequently Deployed". Like, you can dance to "JWTs Suck". I'm doing it right now.

(Disclaimer: I don't organize SF Node or curate talks or anything. I'm a regular attendee, b

[2017-11-13 23:28] rdegges commented on #51
I gotcha. But this talk is literally about why jwts suck and how horrible they are. All I'm going to do is rant about it for 45 minutes then walk off stage :p I tried to title it as accurately and succinctly as possible ^^

[2017-11-13 23:32] Trott commented on #51
Can't complain if it's an accurate reflection of the anticipated content. Please do advise the organizers to provide you with an inexpensive mic to drop on the floor as you exit.

[2017-11-13 23:35] rdegges commented on #51
:D that's be awesommeee

[2017-11-15 17:20] IAmEddieDean commented on #51
Consider us so notified. 🤣

[2017-11-16 02:40] paulgrock commented on #51
Hey @rdegges we're all quite excited about the talk in a couple of months. We talked about it as an organizing team and we'd like to go with a softer title.

Maybe something like:
How JWTs and Sessions Work (Poorly)
Why JWTs Are Bad for Authentication
JWTs: Don't Believe the Hype
The Truth About JWTs
Best Ways to Secure Your Website (Not JWTs)

[2017-11-16 02:46] rdegges commented on #51
Hey! That's totally fine. I get it ;)

How about: "Why JWTs Are Bad for Authentication"? That one sounds appealing. Can we still get a safe-to-drop mic though? Would be hilarious ^^

[2017-11-16 02:59] paulgrock commented on #51
No promises :)

[2017-11-16 03:01] rdegges commented on #51
=p

OK! Well, wanna let me know what the official date is? I'll block off my calendar accordingly! <3

[2017-11-16 03:02] paulgrock commented on #51
Sure. It’s Jan 4th. Your talk will either be at 7 or 7:45 ish

[2017-11-16 06:31] rdegges commented on #51
Awesome! Just blocked it off. Looking forward to it.

[2017-12-01 02:15] linclark opened #52 "Talk Proposal: A cartoon intro to WebAssembly"
## Full name and Bio

Lin Clark makes code cartoons. She also works in Mozilla’s Emerging Technologies group, where she gets to tinker with things like WebAssembly, Servo, and Rust. In previous lives, she worked at npm, was a core contributor to open source projects like Firefox’s developer tools, and contributed to HTML data standards.

## Talk title and abstract (description)

WebAssembly is fas

[2017-12-01 16:28] paulgrock commented on #40
Closing in favor of #51

[2017-12-01 16:28] #40 closed

[2017-12-01 16:31] paulgrock commented on #52
Hi @linclark as we talked about we've got a spot at the February event open for you. Looking forward to this talk.

[2017-12-01 21:44] Trott opened #53 "Talk Proposal: How Node.js Core Grows"
## Talk Title: How Node.js Core Grows

### Abstract

In 2014, the Node.js core project was merging less than 3 commits a day. The relatively modest velocity (compared to previous years) resulted from an effort to guarantee stability. But to many participants and former participants, it resulted in frustration and stagnation.

In 2017, the Node.js core project is merging more than 12 commits a day.

[2017-12-12 01:21] paulgrock commented on #47
Do you have a link to your slides that we can share with the attendees?

[2017-12-12 01:21] paulgrock commented on #49
Do you have a link to your slides that we can share with the attendees?

[2017-12-12 05:05] Zahidul-Islam commented on #47
Here is the link: https://docs.google.com/presentation/d/1t6-T0jazRlrSyI5uSQ74OFTwIfX5Ssz2lxSN4rSeoo0/edit?usp=sharing

[2018-01-04 15:30] tiffanyhan opened #54 "Talk Proposal: Building Prefix Search as a Service"
## Full name and Bio

Tiffany Han is a software engineer at Prefixy, a free and open-source hosted prefix search service. Before that, she worked on bruinwalk.com and has also done some teaching for Udacity. She finds code strangely addicting and is currently excited about node.js, functional programming, and React.

## Abstract

How do you build a hosted prefix search service that can power sugge

[2018-01-05 18:35] gergelyke opened #55 "Talk Proposal: Node.js production checklist"
## Abstract

At RisingStack, we have helped enterprises to sucessfully adopt Node.js in the past years. During this period, we have seen a lot of anti-patterns and war stories. Because of this, we came up with a list of best practices on how to run Node.js applications in production successfully. This talk addresses both operational, performance and security best practices.

## Bio

Gergely is a p

[2018-01-07 00:34] paulgrock commented on #51
@rdegges do you have slides online somewhere that we can share with the group?

[2018-01-07 00:35] #47 closed

[2018-01-07 00:35] #49 closed

[2018-01-07 00:35] rdegges commented on #51
Yep! The slides are here: https://speakerdeck.com/rdegges/jwts-suck-and-are-stupid

Thanks so much for having me! I had a blast. <3

[2018-01-07 00:36] paulgrock commented on #51
Your talk was awesome. Thanks for presenting.

[2018-01-07 00:36] #51 closed

[2018-01-07 00:42] paulgrock commented on #50
@tlhunter are you interested in presenting at the March event on the 1st?

[2018-01-07 00:43] paulgrock commented on #28
@pstan26 @shea256 are you still interested in giving a talk? Otherwise I'll close this issue.

[2018-01-13 01:09] tlhunter commented on #50
@paulgrock sure! I am giving this talk at ForwardJS in February, btw.

[2018-01-15 20:24] paulgrock commented on #50
Oh rad. Congrats on that! We'll add you to the March list. Thanks @tlhunter

[2018-01-15 20:25] paulgrock commented on #28
Closing due to lack of activity.

[2018-01-15 20:25] #28 closed

[2018-02-01 08:24] Zahidul-Islam opened #56 "Talk Proposal: An intro to Natural Language Processing (NLP) with Node.js"
## Abstract

With the advent of **Chatbot** and **Conversational UI** it is not enough to build a bot that can understand a handful of commands. Users want to communicate with bot using natural language.

**Natural language processing (NLP)** is a field of computer science, AI concerned with the interactions between computers and human in natural (human) languages. The main
challenges in natural-l

[2018-02-02 12:20] magicmark opened #57 "Talk Proposal: The Joy of Express Middleware"
## Full name and Bio
Mark Larah

Mark Larah is professional keyboard-clacker, originally from the UK. Mark works on developer tooling and web infrastructure on the core web platform team at Yelp. When not coding or baking bread, Mark can typically be found roaming the grocery stores of San Francisco for new bars of Dark Chocolate 🍫

## Talk title and abstract (description)
The Joy of Express Middl

[2018-02-02 18:23] JordanSchuetz opened #58 "PubNub Venue Request"
- 725 Folsom St, San Francisco, CA 94107, 1st floor, enter from street
- We will collect attendee list at the door (every attendee has to sign in)
- 100 people max (the meetup group can have more RSVP's though since half usually no show)
- If the meetup is going to have more than 50+ people, we will provide pizza and drinks. Veggie options yes!
- We have microphone, huge screen, speakers, hdmi and

[2018-02-11 22:57] #55 closed

[2018-02-15 14:33] paulgrock commented on #54
Hi @tiffanyhan would you like to present at our next event on March 1st?

[2018-02-15 17:50] tiffanyhan commented on #54
Hi @paulgrock ,

Yeah! March 1st sounds great.

[2018-02-16 14:17] paulgrock commented on #57
@magicmark would you like to present during our April 5th event?

[2018-02-23 22:33] kcmasterpiece opened #59 "Hardening OAuth2 Authentication in Native Desktop Apps with Node.js"
## Full name and Bio
Jeff Fontas

Jeff Fontas is a Partner Engineer at LinkedIn where he supports partner API integrations with LinkedIn services. In his spare time, he enjoys diving into projects with a broad array of technologies, including Node.js, Python, Docker, and cloud services.

## Talk title and abstract (description)
Hardening OAuth2 Authentication in Native Desktop Apps with Node.js

N

[2018-02-24 00:00] tgalopin opened #60 "Talk Proposal: Implementing a lightning fast route search engine in Typescript"
*PS: I'm in San Francisco for 3 months (until 19th of May).*

# Full name and Bio

Titouan Galopin is a French software engineer and product lead at Symfony, the company behind the Symfony PHP framework (https://symfony.com). He likes PHP (Symfony) and JS/Typescript (React/Redux) and besides his work at Symfony, he works on several side projects including a mobile application for local public tran

[2018-02-26 19:32] justinelam opened #61 "OpenTable Venue Request"
What is the address, floor, room name if any, entrance instructions?
120 Kearny Street, Suite 700, San Francisco, CA 94108. Check in with Security on the main level. An OpenTable representative will be stationed by the elevators to badge people up to the 7th floor.  Main entrance on Kearny St between Sutter & Post.

Do we need to submit an attendee list for security purposes?
They can provide the

[2018-03-03 00:28] newhouse opened #62 "Talk Proposal: Objection.js - an easy, powerful and magic-averse ORM for Node.js"
NOTE: I'm really not sure if/when I'll have the time to do this, but I think it would be a good talk. So I'm throwing it up here to see if I can get motivated.

### Full name and Bio
Chris Newhouse
Backend-leaning full-stack developer with experience in ad-tech, sales-tech, mar-tech and finance. Can expand upon this later.

### Talk title and abstract (description)
Some of the more popular Node OR

[2018-03-05 17:46] paulgrock commented on #60
@tgalopin would you like to present at our May 3rd event?

[2018-03-05 18:21] tgalopin commented on #60
That would be awesome :) !

[2018-03-08 18:21] parris opened #63 "Talk Proposal: Fervor - my attempt to fix full stack development"
Hi gang, I'd like to give a talk on my open source project - https://github.com/fervorous/fervor

Full Name and Bio
----

Parris Khachi, Director of Web at Brigade, Formerly at Eventbrite (and a brief stint at Famous), Author of various npm packages (iz, fervor, dorsal). Was "myspace famous" in college because I was in ska-rockabilly band.

Talk title and abstract
----

Fervor - my attempt to fix

[2018-03-12 21:28] elhamrastkhadiv opened #64 "Talk Proposal: Internal consulting without insulting?"
# Name
Elham Rastkhadiv, Senior software dev at OpenTable

# Title
Internal consulting without insulting? How to be a consultant within your org.

# Abstract
Ever been in a team that needed improvement but didn’t know how to begin? Come and learn about how I use my consultancy skills to make positive changes. We will focus on building up skills in pair-programming, coding values, testing standards

[2018-03-15 03:10] #54 closed

[2018-03-15 03:10] #50 closed

[2018-03-15 05:14] microsoftly opened #65 "Talk Proposal: Let's Chat About Testing Chatbots"
## Bio
* Matt Schwartz
* Backend Engineer for Restaurant Services at Open Table working in C# by day and node/typescript  by night.
## Title: ```Let's Chat About Testing Chatbots```
## Github handle: ```Microsoftly```<sup> <sub><small><sup> <sub>yes, that's serious</sub></sup></small></sup> </sub>
## Abstract
Building chatbots for multiple platforms (Slack, Facebook Messenger, Skype, etc ...) is v

[2018-03-15 22:11] greenteamuimui opened #66 "Talk Proposal: I know what you want to eat."
# Name and Bio
Cherry Lam, Software Engineer at OpenTable with background in food, food and food (can further elaborate if needed)

# Title
I know what you want to eat!

# Abstract
What happens when you type “Italian food Downtown….” searching for the best restaurants to eat? How does the API figure out what you are looking for and give you the choices that are closest to you? The powerful search

[2018-03-18 15:09] #52 closed

[2018-03-18 15:12] paulgrock commented on #62
@newhouse any chance you'd have this talk ready and be interested in speaking at next month's event on the 5th?

[2018-03-19 17:00] newhouse commented on #62
Hey @paulgrock unfortunately not this time around. Some stuff's come up (both work and personal) and for right now I don't have the extra bandwidth to pull this together. I'll try to get settled back in in the next month or two and get it done. I'd still like to do it and that will be true until I close this issue.

[2018-03-19 17:07] paulgrock commented on #62
No worries. Thanks for the update.

[2018-03-20 01:28] paulgrock commented on #63
@parris would you like to present in April?

[2018-03-20 16:35] dmill opened #67 "Talk Proposal: Smart Contracts and dApps for Web Developers"
Hi Everyone,

I'm putting together [a course on Ethereum development](http://www.destinationdev.com/blockchain/) geared towards web developers without blockchain knowledge, and I have a talk I'm putting together going over the basics. I recently took a crash course myself with our instructor, so I know that the material is approachable but I also know that it's difficult figuring out where to star

[2018-03-23 17:40] paulgrock commented on #60
@tgalopin we don't have a second talk for our April event. Could you present at that one instead?

[2018-03-23 17:49] tgalopin commented on #60
I have a colleague who wanted to see the presentation and is in San Francisco only in May. If you can have someone else in April it would be nice, but if you still really lack a second talk, I can do it, no problem :) .

[2018-03-23 17:49] paulgrock commented on #60
ok, i've reached out to a few other folks. i'll let you know if we hear back. Thanks for being accommodating.

[2018-03-26 13:28] paulgrock commented on #65
@microsoftly are you interested in presenting on April 5th?

[2018-03-26 17:43] microsoftly commented on #65
@paulgrock would it be possible to do it in May at OpenTable (my employer 😇)?

[2018-03-26 20:33] paulgrock commented on #64
@elhamrastkhadiv I know you're at OpenTable and I'm sure would prefer to present in May when we're going to be there but we're still looking for a second talk for next week's event. Let me know if you're interested.

[2018-03-27 04:14] paulgrock commented on #66
Hi @greenteamuimui I know it’s short notice but we’re short a speaker for next week’s event. Are you interested in speaking next Thursday?

[2018-03-27 19:14] greenteamuimui commented on #66
Hi @paulgrock sorry already have plans on Thur.

[2018-03-28 00:29] tgalopin commented on #60
@paulgrock any news about this :) ? The colleague who's gonna join me in May is a quite renowned speaker and he coule propose a talk to replace mine if I'm in April :) .

[2018-03-28 00:31] paulgrock commented on #60
We haven’t heard anything good back yet. If your colleague is interested please have them open an issue on here. We could have either of you speak next week. Whatever works better for you two.

[2018-03-28 00:36] tgalopin commented on #60
Okay, let's plan me then :) . I'll tell him to propose a talk for may :) .

Thanks!

[2018-03-28 00:51] paulgrock commented on #60
Awesome! Thanks so much! I’ll pencil you in for next week

[2018-03-28 02:40] microsoftly commented on #65
Thanks!

@paulgrock about how long are the presentation slots?

[2018-03-28 03:29] paulgrock commented on #66
ok, thanks :)

[2018-03-28 03:30] paulgrock commented on #65
Talks should be 20-30 min. Then there is usually some short Q&A right after the presentation.

[2018-04-04 18:35] elhamrastkhadiv commented on #64
@paulgrock Hi sorry, I was on holiday, just saw your message. yes I do prefer the Openable one if possible.
Thanks

[2018-04-06 17:57] tgalopin commented on #60
I don't know if you want to publish it somewhere, but here are my slides :) :

https://speakerdeck.com/tgalopin/implementing-a-lightning-fast-route-search-engine-in-typescript

[2018-04-09 16:30] greenteamuimui commented on #66
Hi @paulgrock, I wanted to let you know that I need to go home to attend my grandma's funeral and I won't be able to do this talk at Opentable on May 3th. Let me know if we can move mine to the next talk. Thanks.

[2018-04-09 18:06] paulgrock commented on #57
Closing because of no response

[2018-04-09 18:06] #57 closed

[2018-04-09 18:07] paulgrock commented on #66
@greenteamuimui I'm so sorry! Of course we can change this to another event. Does June 7th work for you?

[2018-04-10 05:41] isurfbecause commented on #60
@tgalopin your presentation has been posted
https://www.youtube.com/watch?v=Xy5w30TptlI

[2018-04-10 05:41] #60 closed

[2018-04-10 05:43] isurfbecause commented on #55
@gergelyke your presentation has been posted. So sorry the long delay.
https://www.youtube.com/watch?v=tJi5PgcrncE

[2018-04-13 16:15] paulgrock commented on #64
@elhamrastkhadiv we've got a spot open for the event in May so I'll put your name down for it

[2018-04-13 18:57] greenteamuimui commented on #66
@paulgrock Would it be possible to do the one in July? I have family visiting that day/weekend in June...sorry for the re-scheduling.

[2018-04-14 20:53] paulgrock commented on #66
@greenteamuimui July would be perfectly fine. I'll mark you down for that month.

[2018-04-14 20:54] #59 closed

[2018-04-15 23:33] thebugreport opened #68 "Talk proposal:"
**About Me:** Software

[2018-04-16 02:25] dylankb opened #69 "Talk Proposal: Lessons in building a distributed file storage system"
### Full name and bio:

Dylan Barnard has wrangled sheep, fish, people, and now code as a software developer in Oakland, CA. He’s into long hikes and longer learning projects.

### Title:

Lessons in building a *decentralized* file storage system

(Note that this is the correct title, I used an incorrect word in the issue name)

### Abstract:

Everyday we upload our data to companies who help us w

[2018-04-22 03:34] #56 closed

[2018-05-04 03:12] paulgrock commented on #69
@dylankb we just talked about you presenting in July but I just wanted to make a note of it here so I don’t forget

[2018-05-09 23:16] JoshyJAKQA opened #70 "AKQA Venue Request"
I hope all is well! I'm Josh Jacobs and I'm work over at AKQA. I work closely with the Tech team and have heard positive things about your meet-ups! I've already reached out to Paul and Dan to see if we can collaborate on something in the near future.

With that said, I wanted to reach out to see if you guys were ever open to hosting one here at our office. We have an amazing rooftop we can host a

[2018-05-12 22:56] #65 closed

[2018-05-12 22:56] #64 closed

[2018-05-12 22:56] #61 closed

[2018-05-12 23:01] paulgrock commented on #70
Hey @JoshyJAKQA we'd definitely love to come to AKQA. We're looking for a host for our July event which is probably going to be the 12th of July. Are y'all open for that date? Could you provide answers to the following questions we ask all of our prospective hosts?

* What is the address, floor, room name if any, entrance instructions?
* Do we need to submit an attendee list for security purposes?

[2018-05-15 22:11] JoshyJAKQA commented on #70
Thanks, @paulgrock! July 12th is looking good as of right now. What would the ideal flow of this event be? Would love to learn more on how it would be run, plus it's itinerary.

Please find your answers below:

What is the address, floor, room name if any, entrance instructions?
**5th floor, 360 Third St
San Francisco, CA 94107, United States**

Do we need to submit an attendee list for security p

[2018-05-21 16:41] JoshyJAKQA commented on #70
@paulgrock just following up here to see what next steps would be for July

[2018-05-21 16:48] paulgrock commented on #70
Sorry about that. We're good from our side with this information. We'll add AKQA to the meetup page https://www.meetup.com/sfnode/events/mxstsmyxkbhb/. The flow for the event is guests show up at 6:30 (organizers will show up at 6 or so unless needed earlier) talks start at 7 then everyone is out by 9. Does that help?

[2018-05-30 19:32] greenteamuimui commented on #66
@paulgrock Hi Paul, just wanted to see if you have the date/venue for the talk in July?

[2018-05-30 19:40] paulgrock commented on #66
The date is July 12th and we're going to be at AKQA.

[2018-06-05 21:15] JoshyJAKQA commented on #70
Sounds good, @paulgrock ! Can we move this conversation to email? It will be easier to manage on our end.

Josh.Jacobs@akqa.com

Thanks again and look forward to hearing back.

Cheers,

Josh

[2018-06-13 18:55] ErickWendel opened #71 "Talk Proposal: Managing the flow of asynchronous operations in Node.js"
## Managing the flow of asynchronous operations in Node.js

We know that Javascript flow's is different comparing with another languages, such a Java, Python and etc. When we make started  write async apps in Javascript some strange things happens, like a undefined values and unsynchronised results. This talk helps you to know how Javascript works and how synchronize resutls with Callbacks, Promis

[2018-06-13 19:06] ErickWendel opened #72 "Talk Proposal: Building Automated Robots to extract informations with Node.js and Typescript"
## Building Automated Robots to extract informations with Node.js and Typescript
In our lives, we make many repetitive actions, maybe to enter in web site to view data, register in a database, maybe to register a same item in some time or publish things on facebook repetitive times. In this talk, you can know the facilities to build your own robot, automated and ready to free your time, to focus o

[2018-06-14 01:21] rubenhak opened #73 "Talk Proposal: Microservices application delivery to cloud"
**Full name and Bio**
Ruben Hakopian is a software engineer. Builds management software for cloud, networking hardware, video processing equipment, silicon wafer processing equipment. Worked in variety of companies: Cisco, Insieme Networks, Harmonic, Mattson Technology, etc. Now trying to build a company to significantly simplify back-end software development.

**Talk title and abstract (descripti

[2018-06-16 21:08] #63 closed

[2018-06-24 22:32] kevinsimper opened #74 "Helping with nametags for attendees"
Hi SFNode,

I am going to the SFNode on the 12th July and want to help 😄

I have made a really cool hack-project to print name-tag labels and have done it at several meetups. It is made with Node.js.

Can I help with nametags for that meetup?

![img_0985](https://user-images.githubusercontent.com/1126497/41824351-11b46ab8-780f-11e8-9c11-22740cdf44bf.JPG)

[2018-06-30 20:06] kevinsimper commented on #74
Hi @paulgrock, can I help with name tags for the next meetup? 😄

[2018-06-30 21:49] paulgrock commented on #74
Could you tell me how it works? Not necessarily the project but what we would need to do to make this happen. Do we print these off as attendees roll in or is it more something we’d do before hand?

[2018-07-01 22:12] kevinsimper commented on #74
@paulgrock It makes most sense to have printed all of them before, it would take around 2-3 minute if a lot of people are coming through the door at the same time. I usually print as people come in to check the person is correct :)

[2018-07-03 21:34] kevinsimper commented on #74
@paulgrock I just used it again today for my own meetup again and I even made it work wirelessly 😄 What do you think? Do you have more questions?

https://www.facebook.com/566056680150026/posts/1810173505738331/

[2018-07-04 15:18] paulgrock commented on #74
Seems reasonable to me. I have two other questions: would you print our logo in the top left where you have the ruby gem in the image above and where does the QR code lead?

[2018-07-04 19:47] kevinsimper commented on #74
@paulgrock I will add the SFNode logo, the template that I customize is located right here: https://rawgit.com/kevinsimper/meetuplabel/master/template.html
The QR code just goes to the meetup event page.
Glad you like it, looking forward to helping with it!

[2018-07-04 20:35] paulgrock commented on #74
Perfect. What’s your email? I’ll send the list of attendees over the day before the event

[2018-07-04 21:45] kevinsimper commented on #74
@paulgrock I already send you an email to that you have on your github profile 😄

[2018-07-06 20:22] joellord opened #75 "Talk proposal: Forgot Password? Yes I did!"
**Full name and Bio:**
Joel Lord
Joel Lord is passionate about web and technology in general.  He likes to learn new things but most of all, he likes to share his discoveries.  He does so by travelling at various conferences all across the globe.
He graduated from college in computer programming in the last millennium.  Apart for a little break to get his BSc in computational astrophysics, he was

[2018-07-06 20:23] joellord opened #76 "Talk Proposal: I Don't Care About Security (And Neither Should You)"
**Full name and Bio:**
Joel Lord
Joel Lord is passionate about web and technology in general.  He likes to learn new things but most of all, he likes to share his discoveries.  He does so by travelling at various conferences all across the globe.
He graduated from college in computer programming in the last millennium.  Apart for a little break to get his BSc in computational astrophysics, he was

[2018-07-06 20:24] joellord opened #77 "Talk Proposal: WTH is a JWT (And It's Not Called A 'jot')"
**Full name and Bio:**
Joel Lord
Joel Lord is passionate about web and technology in general. He likes to learn new things but most of all, he likes to share his discoveries. He does so by travelling at various conferences all across the globe.
He graduated from college in computer programming in the last millennium. Apart for a little break to get his BSc in computational astrophysics, he was alw

[2018-07-08 17:06] joellord commented on #75
No specific preference, I'm comfortable with all three.  I do like this one
too as it's my newest talk :)

Le dim. 8 juil. 2018 à 11:23, Paul Grock <notifications@github.com> a
écrit :

[2018-07-08 17:08] paulgrock commented on #75
Great! Let’s do this one in August.

[2018-07-08 17:19] joellord commented on #75
Awesome!  I've added it to my schedule!

Le dim. 8 juil. 2018 à 13:08, Paul Grock <notifications@github.com> a
écrit :

[2018-07-09 17:53] ErickWendel commented on #71
Hey!! Yes, I'm.

[2018-07-09 18:24] ErickWendel commented on #71
Yes, I'm :D

[2018-07-13 18:04] derekstavis opened #78 "Talk Proposal: JavaScript Event Loop and the Web vs Node.js nuances that you must know"
**Full name and Bio**
Derek Stavis

Derek Stavis has been hacking and building software since 2000's, having participated in technology choices, design, architecture and implementation in a myriad of projects, ranging from embedded systems, realtime backends and web apps. His excitement is to develop elegant software solutions for real world problems.

**Talk title and abstract (description)**
Jav

[2018-07-14 21:03] paulgrock commented on #77
closing in favor of #75

[2018-07-14 21:03] #77 closed

[2018-07-14 21:03] paulgrock commented on #76
closing in favor of #75

[2018-07-14 21:03] #76 closed

[2018-07-14 21:03] #69 closed

[2018-07-14 21:03] #70 closed

[2018-07-14 21:04] paulgrock commented on #66
thanks for presenting @greenteamuimui Loved the talk!

[2018-07-14 21:04] #66 closed

[2018-07-14 21:04] paulgrock commented on #69
thanks for speaking @dylankb Your talk was super informative!

[2018-07-14 21:11] ev1stensberg opened #79 "Talk Proposal: Scalable Command Line Interfaces"
# Full name and Bio:
Even Stensberg is an OSS entusiast and student

Even is an Information Technology student based in Tromsoe. He is one of many maintainers of webpack and enjoys Open Source quite a lot.

# Talk title and abstract (description)

## Scalable Command Line Interfaces

### Description
Libraries are often hard to get "just right" at first. It takes work to be able to use the tool wit

[2018-07-14 22:03] paulgrock commented on #79
@ev1stensberg our October event is on the 4th, does that work for timeframe?

[2018-07-14 22:03] paulgrock commented on #73
@rubenhak are you interested in presenting at our event on 9.6?

[2018-07-14 22:51] paulgrock commented on #78
@derekstavis Would you like to present at the September 6th event?

[2018-07-15 07:32] ev1stensberg commented on #79
Might be. I'm coming for Google Mentor Summit. Can I get back to you once they release dates?

[2018-07-15 14:50] paulgrock commented on #79
Sure thing

[2018-07-15 14:53] paulgrock commented on #73
@rubenhak we’re already full for August. I’ll pencil you in for September but if anything changes I’ll let you know

[2018-07-15 17:34] derekstavis commented on #78
Yeah! It works for me!

[2018-07-15 17:48] rubenhak commented on #73
sounds good. thanks.

[2018-07-20 06:32] #53 closed

[2018-07-23 10:52] dietree opened #80 "Talk proposal: Scaling DevOps - how to solve a puzzle of thousands of pieces"
**Full name and Bio**
Shimon Tolts

Shimon is the CTO and Co-Founder at datree.io, a platform that solves DevOps scaling for you. It’s a simple, seamless, and a fully automated solution that will help you effortlessly map, smoothly navigate using actionable insights and successfully scale your DevOps organization.
Shimon also spearheads the Israeli AWS User Group and he is a regular speaker on the

[2018-07-24 13:02] dietree commented on #58
Hi Jordan, I'm planning a <CODE> components meetup SF on August 13 and I'm looking for a location. Is this still available that day?

[2018-07-24 17:58] JordanSchuetz commented on #58
Hi @dietree yes August 13th is available! Let me know if you want to reserve the spot. Email me schuetz@pubnub.com

[2018-08-11 22:57] paulgrock commented on #71
@ErickWendel thanks for the awesome presentation!

[2018-08-11 22:57] #71 closed

[2018-08-11 22:59] paulgrock commented on #75
@joellord thanks for great talk!

[2018-08-11 22:59] #75 closed

[2018-08-11 23:00] #74 closed

[2018-08-12 21:46] ErickWendel commented on #71
Thank you!

[2018-08-14 04:25] shrutikapoor08 opened #81 "Talk proposal: Progressive Web Apps - the what, why and how."
**Full name and bio**
Shruti Kapoor
I am a Software Engineer at PayPal. I like JavaScript. I like devjokes.

**Description**
Progressive web applications enable key features such as instant download, offline viewing, responsive navigation and push notifications, thereby bridging the gap between mobile and web experiences. In this talk, I talk about what makes progressive web apps so popular and ho

[2018-08-24 03:36] leonkyr opened #82 "Talk proposal: Learn lessons from building a “serverless” smart assistant for software development teams and professionals"
I will be in SF for the 10/4 edition and I'd love to share back our learnings. I speak with the same talk in Sydney, on the 08/30 https://www.meetup.com/Sydney-Serverless-Meetup-Group/events/251002968/

Learn lessons from building a “serverless” smart assistant for software development teams and professionals. Learn about development, testing, deployment, security and other aspects of production S

[2018-08-24 14:08] paulgrock commented on #72
I'm closing this because of the other talk you gave. Let me know if you want to give another talk next time you're in town

[2018-08-24 14:08] #72 closed

[2018-09-20 15:30] ruyadorno opened #83 "Talk Proposal: Developer Experience at Upgrade"
### Developer Experience at Upgrade

From bots to command-line scripts and workflows, every team has their own set of tools to help empowering individual contributors.

In this talk we are going to share some of these fun usages of Node.js within our internal tools that helps us improve productivity for developers in the context of a fast growing startup.

### About me

Ruy Adorno is a Software De

[2018-09-20 15:54] ev1stensberg commented on #79
Is this announced @paulgrock ? I might need to update my bio

[2018-09-20 15:55] paulgrock commented on #79
No it’s not announced yet. Let me know what you want to update your bio to and I’ll change it

[2018-09-20 16:02] ev1stensberg commented on #79
Even Stensberg is an OSS entusiast, Software Developer at Telia Sonera and Computer Science at the Artic University of Norway, based in Tromsoe, Norway.  He is one of many maintainers of webpack and enjoys it quite a lot!

[2018-09-24 02:22] ocampesato opened #84 "Session Proposal: Deep Learning in Your Browser with NodeJS"
Session Description:
This is a fast-paced introduction to Deep Learning concepts, followed by a quick tour of TensorFlow concepts, and then an example of a CNN in tensorflow.js, along with a code sample in NodeJS. Basic knowledge of vectors, matrices, and derivatives is helpful for this session. Basic knowledge of vectors, matrices, and derivatives is helpful in order to derive the maximum benefit

[2018-09-25 20:07] #73 closed

[2018-09-25 20:07] #78 closed

[2018-10-02 00:06] nebrius commented on #34
Definitely closing this...it's waaaayyyyy out of date 😅

[2018-10-02 00:06] #34 closed

[2018-10-02 00:11] nebrius opened #85 "Microsoft Reactor Venue"
Hi SFNode, due to shifts at Microsoft I'm now available to host SFNode again!

_What is the address, floor, room name if any, entrance instructions?_

680 Folsom St, Ste 145, San Francisco, CA. The entrance to our office is on the ground floor in the main lobby for the building. No notable entrance instructions, we'll manage it for you

_Do we need to submit an attendee list for security purposes?

[2018-10-04 22:10] grampelberg opened #86 "Talk Proposal: Debugging Node Services in Kubernetes With Linkerd 2.0"
## Debugging Node Services in Kubernetes With Linkerd 2.0

Node services are increasingly deployed by service owners in a Kubernetes cluster. While Kubernetes can automatically keep your service up in the event of node failure or a software crash, it doesn’t provide visibility into how your service is behaving.

In this talk, we will walk through how to monitor your service on Kubernetes and troub

[2018-10-08 20:50] nebrius commented on #85
Just to update on scheduling, I couldn't make scheduling logistics work for the December 6th meetup, but I can make January 3rd and February 7th work. Let me know which you'd like!

[2018-10-09 22:06] ocampesato commented on #84
I noticed that the next available "first Thursday of the month" slot is 12/06/2018, which works for me.
However, if other dates around mid-November are available, please let me know ... thanks!

[2018-10-15 21:33] connor11528 opened #87 "Talk proposal: Build a task app with Hapi, MongoDB and Vue.js"
# Build a task app with Hapi, MongoDB and Vue.js

This talk goes through setting up an application from scratch using a Hapi v17 server, MongoDB with Mongoose ORM and a separate Vue.js frontend. We'll include transition and fade animations with Vue.js as well as handling asynchronous calls on the frontend with Axios.

Full tutorial and source code available [here](https://medium.com/employbl/build

[2018-10-20 21:34] #82 closed

[2018-10-20 21:34] #79 closed

[2018-10-20 21:34] #83 closed

[2018-10-20 21:38] paulgrock commented on #84
hey @ocampesato we don't have a mid November date open but are you still available for the 12.6 event?

[2018-10-20 21:39] paulgrock commented on #81
hi @shrutikapoor08 are you available to speak on November 1st at our next event?

[2018-10-24 01:17] paulgrock commented on #86
Great! We’ll get you on the list.

[2018-10-25 16:55] paulgrock commented on #86
I just added you to the meetup page https://www.meetup.com/sfnode/events/mxstsmyxpbcb/ Looking forward to your presentation!

[2018-10-25 20:39] Trewaters opened #88 "Talk Proposal: NodeJS Security Best Practices"
Tre' Grisby

TITLE
"NodeJS Security Best Practices"

ABSTRACT
Covering a few ways to make sure your next JavaScript project is the best you can make it. Security flaws and exploits are found constantly. Hackers don't have to be smart if you aren't. Bad actors are all over the web and make security an ever evolving puzzle with no single solution.

My goal is to leave you with concrete ways to impro

[2018-11-02 02:15] Trott opened #89 "Talk Proposal: A Response To "Design Flaws In Node""
* Full name and Bio

Rich Trott

Rich is a Node.js Core Contributor and all-around swell human being. He creates software, rock operas, and pizzas. He is a member of the Node.js Technical Steering Committee and works for the University of California.

* Talk title and abstract (description)

Title: A Response To "Design Flaws in Node"

Abstract: A non-inflammatory (I promise!) review and response

[2018-11-02 02:38] burtonator opened #90 "Talk Proposal: Building a Hybrid Node + Browser App in Electron"
Polar is an offline browser and document annotation / management system based on Electron:

http://getpolarized.io/

It's about 50% node and 50% web in terms of tech split.

I'd like to discuss the Node part of the equation and integrating it tightly with the chrome portion.

For example, many web libraries require https to function correctly (cookies, etc) which poses a problem for Electron apps.

[2018-11-07 20:31] Trewaters commented on #88
The 3waters webpage has been updated to point people to the slides and notes I used. I have a github repo for this talk, found here ( https://github.com/Trewaters/SFNode-Nov-2018 )

Thanks for the opportunity to talk.

[2018-11-07 20:31] #88 closed

[2018-11-08 01:57] Trewaters commented on #85
Hi Bryan,

I want to confirm that SFNode is looking forward to Microsoft hosting us January 3rd. Please let me know if that is still available. Thanks

Tre,

[2018-11-10 23:37] #86 closed

[2018-11-10 23:38] paulgrock commented on #81
Hey @shrutikapoor08 are you still interested in giving this talk?

[2018-11-10 23:38] paulgrock commented on #84
@ocampesato are you still cool with 12.6 for this talk?

[2018-11-10 23:46] paulgrock commented on #89
Are you interested/available to give this talk at the January event on 1.3?

[2018-11-13 00:12] nebrius commented on #85
Yes, the MS Reactor is still available and has been officially booked for SFNode on January 3rd. Looking forward to it!

[2018-11-14 07:25] elizabethsiegle opened #91 "Talk proposal: Impress Friends w/ NBA stats you parse from an Excel spreadsheet in Node.js"
I'm a big Warriors fan and have been following their season with my brother and some of his friends. Unfortunately, sometimes they try to make me prove that I'm a real fan by asking for obscure trivia or stats. Luckily for me (and other programmers), we can write some Node.js code to stealthily check a parsed spreadsheet of basketball data without others knowing what we're doing.

This talk will g

[2018-11-20 19:46] cjihrig opened #92 "Talk Proposal: Introduction to libuv: What's a Unicorn Velociraptor?"
libuv is what gives Node.js its event loop and cross-platform asynchronous I/O capabilities. This talk explains what libuv is all about, and how it's used by Node.js. This talk also looks at recent development efforts in the libuv project.

[2018-11-20 23:44] paulgrock commented on #92
HI @cjihrig thanks for giving us an overview of your talk. Do you have a bio you'd like us to use for the meetup page?

[2018-11-20 23:49] cjihrig commented on #92
Sure, here it is:

Colin Ihrig is a member of the Node.js Technical Steering Committee, a libuv collaborator, and a hapi.js core team member. Colin is the author of Pro Node.js for Developers, and co-author of Full Stack JavaScript Development with MEAN. Colin is currently a product engineer at Joyent, focusing on Node.js development and enterprise support.

[2018-11-29 20:22] andkhong opened #93 "Talk Proposal: Typescript with Node"
How to set-up and roll out typescript in production with Webpack.

Javascript at scale is impossible without a sort of type checking system. If the backend gets enough errors, it can shut down and all the users will lose access to your app. This can effectively kill the company overnight. Because Javascript is a dynamic language, it allows for many mistakes that even the most seasoned engineers ca

[2018-11-29 22:45] Trewaters opened #94 "Scalable Press Venue"
Scalable Press

**What is the address, floor, room name if any, entrance instructions?**
180 Montgomery Street, Suite 1000, Floor 10. Entrance is on Montgomery St (Bush & Montgomery) - 1 block from Montgomery Bart station.

**Do we need to submit an attendee list for security purposes?**
Not necessary, but I'd recommend having a list so they can direct attendees to the right elevator.

**What's th

[2018-12-04 23:59] andkhong commented on #93
hmm if there isn't an interest in this talk, i can remove it?

[2018-12-05 00:01] paulgrock commented on #85
@nebrius do you or someone else at MS want to speak at the Jan event?

[2018-12-05 00:03] paulgrock commented on #93
Hey @andkhong we're definitely interested in having you speak at an upcoming event. Apologies for not responding quicker. We're still trying to figure out which month would be the best fit. If you're no longer interested in presenting feel free to close this.

[2018-12-05 00:19] nebrius commented on #85
@paulgrock I'm always down to speak, yes! Do any of these three talks sound fitting?

https://nebri.us/talk/nodeconf-eu-2018-effective-documentation-for-open-source-projects.html
https://nebri.us/talk/view-source-conference-2018-johnny-five-and-the-rise-of-javascript-hardware.html
https://nebri.us/talk/silicon-valley-code-camp-2018-understanding-functions-and-this-in-the-world-of-es2018.html

I ca

[2018-12-05 17:01] paulgrock commented on #85
personally I'd lean towards the one on documentation but both sound cool

[2018-12-05 21:41] nebrius commented on #85
Great, let's do the documentation talk then :)

[2018-12-30 02:36] #62 closed

[2019-01-03 18:26] Trewaters opened #95 "Braintree venue"
**What is the address, floor, room name if any, entrance instructions?**
The address is 123 Townsend St, San Francisco, CA 94107. We are located on the 6th floor. However, whenever we host events we will usually station someone at the ground floor to help people get to the 6th floor since the floor is badge controlled.

**Do we need to submit an attendee list for security purposes?**
Yes, we requi

[2019-01-07 00:07] jociemoore opened #96 "Talk Proposal: BAM! -- A Serverless Framework"
**BAM! -- A Serverless Framework**

Working with Amazon Web Services directly can be burdensome. As a result, a variety of frameworks have been created to abstract away its complexity, but still, these frameworks tend to be either as unwieldy as AWS itself or lacking in functionality. The BAM! framework, on the other hand, is made for humans; it’s quick, easy to use, and allows you to stay focused

[2019-01-08 18:50] tlhunter opened #97 "Talk Proposal: Real World Attacks in the npm Ecosystem"
**Real World Attacks in the npm Ecosystem**: In this talk we will examine some practical attacks against the npm package ecosystem. We will look at both theoretical attacks as well as attacks which have already happened.

The most recently publicized attack we’ll look at is the `event-stream` module. This will include a breakdown of functionality, why it was difficult to find, and why a static ana

[2019-01-16 20:11] #85 closed

[2019-01-18 21:14] mikesol opened #98 "Talk proposal: Testing apps with third-party API integrations"
**Testing apps with third-party API integrations**

In this talk we will examine strategies and best practices to develop and test node apps that make heavy use of third-party API integrations.  As reliance on third-party services becomes more and more prevalent in the node ecosystem, developers need cost-effective, secure, reliable and fast ways to mock these services for both dev/staging environ

[2019-01-19 22:01] paulgrock commented on #98
@mikesol Could you provide a bio for yourself so we can add it to the meetup page?

[2019-01-19 22:07] paulgrock commented on #87
@connor11528 would you like to speak at our February event on the 7th?

[2019-01-19 22:09] paulgrock commented on #84
@ocampesato I know it’s been a while but would you still like to give this talk?

[2019-01-19 22:10] #89 closed

[2019-01-19 22:10] #81 closed

[2019-01-20 10:14] connor11528 commented on #87
Hey @paulgrock yes I'd be happy to

[2019-01-21 04:11] mikesol commented on #98
<bio>
Mike Solomon is the founder and CEO of Meeshkan (meeshkan.com), a Helsinki-based DevOps company.  A music major at Stanford University, Queen's University Belfast and the University of Florida, Mike has been a guest researcher at the University of Paris VI and has held the post of artistic director of the Ensemble 101 (ensemble101.fr) from 2011 until the present day.  While working at the IR

[2019-01-22 19:34] lidderupk opened #99 "Talk proposal: Serverless with Apache Openwhisk"
### Dive into JavaScript serverless with Apache Openwhisk
Let's dive into Serverless concepts including actions, triggers, rules and event driven paradigm on the OpenWhisk Serverless open source platform. We will use the `wsk` command-line tool to create and organize JavaScript functions in packages that can be run on demand. The talk will include current landscape of serverless, common pitfalls a

[2019-01-24 15:17] Trewaters commented on #80
Hi Shimon, sorry we missed your time frame. We are behind on fallowing up with speakers. Maybe next time you are in the SF bay area you will reach out to us. I did enjoy meeting you last summer at MixMax.

Good luck with the datatree.io project!

[2019-01-24 15:18] Trewaters commented on #80
I suggest we close this issue for now and you could resubmit it when you are available again.

[2019-01-24 15:49] Trewaters commented on #90
Hi @burtonator would you still be interested in giving this talk?

[2019-01-24 15:51] Trewaters commented on #91
Hi @elizabethsiegle would you still be interested in giving this talk?

[2019-01-24 15:53] Trewaters commented on #93
@andkhong We would like to schedule this talk for a future meetup. Would you still be interested in giving this talk? If so comment and I will work with you to get a date in the books.

Thanks for your patience!

[2019-01-24 17:30] burtonator commented on #90
Yes. Would love too. Any thoughts on a date?

[2019-01-24 21:56] Chuloo opened #100 "Talk Proposal: Your Sh*t Doesn't Work in Africa"
## Talk
With the rapid growing tech ecosystem in Africa is mind, let's talk about why applications perform poorly in these parts and how they can do better. This talk will be focused majorly on web performance bottlenecks, performance tips to mitigate them and insights on the growing developer ecosystem in Africa generally.

## About William
William is a developer, developer advocate and technical

[2019-01-28 22:18] andkhong commented on #93
I'm still interested. Are there common concerns/questions regarding TS and node?

[2019-01-28 22:37] Trewaters commented on #90
Next available spot would be possibly March 7th or April 4th. Do either of those work for your schedule?

@paulgrock

[2019-01-28 22:39] Trewaters commented on #93
Glad to hear it. Our next open speaking date is April 4th. Does that sound like it would fit on your schedule?

[2019-01-29 19:15] Trewaters commented on #100
Thanks for opening this issue. We look forward to your talk!

[2019-01-31 03:52] engfragui opened #101 "Talk proposal: A GraphQL guide for backend developers"
## A GraphQL guide for backend developers

### Talk abstract

There’s a lot of information out there about GraphQL, and most of it focuses on the benefits that this technology brings to developers building web and mobile applications.

But wait. What about backend developers? How do things look from their perspective? Can GraphQL help them be more efficient and improve their day-to-day work?

In t

[2019-01-31 20:15] andkhong commented on #93
I believe April 4th sounds like a solid date for me.

[2019-01-31 21:38] Trewaters commented on #101
Thanks for opening this issue. We would love to have you talk in March!

@paulgrock

[2019-01-31 21:42] Trewaters commented on #93
Hi @paulgrock if this looks like it would fit could you lock it in for April? Thanks for making all these updates. I appreciate it.

[2019-02-01 19:34] tlhunter commented on #97
I'm free on April 4th (and April 11th)

[2019-02-02 01:51] jociemoore commented on #96
Hi Tre',
Thanks for reaching out. Yes, that would work. Let me know if there is an available speaking spot in April, but if not, May would work too.

[2019-02-02 18:59] Trewaters commented on #93
@andkhong I am going to schedule you for our April 4th meetup. Please give me a final confirmation that this will work for you. I want to make sure we are on the same page.

@paulgrock please label this talk for April.

[2019-02-02 19:00] Trewaters commented on #97
@tlhunter I am putting you on the calendar for April 4th. Happy to have you talk. I enjoy your material.

@paulgrock please label this talk for April meetup. Thanks!

[2019-02-02 19:02] Trewaters commented on #96
@jociemoore
After reviewing our calendar it looks like May 2nd is available. Can I put you on the calendar for that day? Comment below to confirm you are okay with that.

[2019-02-02 19:48] jociemoore commented on #96
Yes, that would be great!

[2019-02-03 04:13] sashaProdan opened #102 "Talk Proposal: Chronos - An Event Data Capturing System for Greenfield Applications"
#### Chronos - An Event Data Capturing System for Greenfield Applications

In our digital world a lot of real-time activity now happens in the web space. This activity can be analyzed and provide useful insights for making the right decisions and creating efficient strategies for the future at early stages of application development. There are a lot of existing analytics solutions, however their s

[2019-02-03 23:42] ErickWendel opened #103 "Talk Proposal: WTF Are Serverless Apps?"
WTF Are Serverless Apps?

Many myths and histories are created every day about the Serverless architectures and concepts. Maybe because of the attractive price,  availability metrics or the power to scale apps without additional configurations. Attendees will learn how to start in the serverless applications based and how to avoid surprises at the end of the month with high prices on their credit

[2019-02-03 23:46] ErickWendel opened #104 "Talk Proposal: Building VSCode Extensions with TypeScript"
**Building VSCode Extensions with TypeScript**

Productivity, good project delivery, and Code review are words that can scare many software developers. Maybe because of the delivery time or project complexity.  This talk will show you how to create visual studio code snippets, extensions, and tools using TypeScript.  Attendees will learn how to be more productive and how to change their mindset to

[2019-02-03 23:48] ErickWendel opened #105 "Talk Proposal: Reactive Node.js with RxJS and Typescript!"
**Reactive Node.js with RxJS and Typescript!**

Reactive Programming solves many architecture problems by use of events. Inside Node.js ecosystem, we need to know about callbacks, promises and how the event-loop works to make a better workflow. Attendees will learn examples, common problems, and the concepts about Reactive programming techniques and how RxJS can help their lives to write better so

[2019-02-04 22:13] Trewaters commented on #104
@ErickWendel so great to hear from you. We would like if you can do this talk on April 4th. Does that work for you?

[2019-02-04 22:15] Trewaters commented on #102
Thanks for opening and issue. Currently our next available speaking date would be June 2019. Are you available on June 6th?

[2019-02-04 22:42] sashaProdan commented on #102
Yes I am available on June 6th. Is there a time limit for each event?

[2019-02-04 22:45] Trewaters commented on #102
Yes. Each speaker gets 30 minutes. We use that time to set up the laptop too.

[2019-02-04 22:58] sashaProdan commented on #102
Ok. Thanks.

[2019-02-04 23:03] ErickWendel commented on #104
Sure!! Count on me :D

[2019-02-05 12:22] shark-h opened #106 "Talk Proposal: Introduction to GraphQL: What is GraphQL and how its designed to improve your team’s communication"
#### Introduction to GraphQL: What is GraphQL and how its designed to improve your team’s communication

In this talk, I will motivate how the process of API development and API integration is fraught with inefficiency that GraphQL was designed to streamline from the ground-up. In this unique introduction to GraphQL, we will cover the pros of GraphQL and its trade-offs that is ideal for developers

[2019-02-07 19:53] Trewaters commented on #87
See you tonight. If you have questions you can reach us through the meetup comments, or if you have any of the organizer's contact info.

[2019-02-07 19:54] Trewaters commented on #98
See you tonight. If you have questions you can reach us through the meetup comments, or if you have any of the organizer's contact info.

[2019-02-08 18:08] pinheadmz opened #107 "Talk proposal: bcoin - Complete Bitcoin full node implementation written in JS"
### What
https://github.com/bcoin-org/bcoin
https://bcoin.io
@bcoin

### WHAT?!
bcoin is an open-source, complete implementation of the Bitcoin protocol written in JavaScript. We also maintain forks for Bitcoin Cash and Handshake (a new blockchain that will decentralize DNS and certificate authority and expand the TLD root zone). bcoin is written beautifully, very easy to read and a great way to l

[2019-02-08 20:12] connor11528 commented on #87
Thanks for the opportunity, it was a lot of fun

Slides (with links to source code): https://docs.google.com/presentation/d/1H9iD760JedijtnCACqSVyebYD36Vf5XFga7aALZnY0U/edit?usp=sharing

![]( https://media3.giphy.com/media/t64o8WukSJwqY/giphy.gif?cid=3640f6095c5de28d4e33754e6346e491)

[2019-02-08 20:12] #87 closed

[2019-02-09 15:02] Trewaters commented on #107
We are currently scheduling talks for July. Would you be available to make this talk in July?

[2019-02-09 17:33] pinheadmz commented on #107
Sounds good! Keep me posted! I think the last week of July I may be unavailable.

[2019-02-11 07:45] #95 closed

[2019-02-12 20:49] Trewaters commented on #103
I am closing this issue since issue #104 is the one you are presenting in April.

[2019-02-12 20:49] #103 closed

[2019-02-12 20:50] Trewaters commented on #105
I am closing this issue since issue #104 is the one you are presenting in April.

[2019-02-12 20:50] #105 closed

[2019-02-12 20:50] #80 closed

[2019-02-12 21:58] Trewaters commented on #107
I am looking through our schedule. We are trying to figure a few things out.

I will get back to you in a few days but I would like you to hold July 11th for us. The July meetup will be on the 2nd Thursday because of the US Holiday.

[2019-02-12 21:59] pinheadmz commented on #107
👍

[2019-02-12 22:00] Trewaters commented on #99
Sorry that we have not responded to your request yet. We are interested and will get back to you soon.

[2019-02-14 19:32] Trewaters commented on #96
Speaker won't be able to talk May. I welcome Jocie to open issues in the future.

[2019-02-14 19:32] #96 closed

[2019-02-14 19:35] Trewaters commented on #93
Hi @andkhong wanted to check with you about speaking May.

Please post if you are still available to talk. I want to make sure my notes are updated correctly. Thanks :)

[2019-02-14 19:38] Trewaters commented on #90
As you can see in the issue tracker we have a few submissions. I want to make sure we get your talk confirmed if you are still interested. It looks like May 2nd or later is available.

[2019-02-14 19:40] Trewaters commented on #84
I am closing this due to lack of contact. If you are interested in speaking please open another issue. Sorry we didn't get you on the schedule.

I think the audience would be interested in your topic.

[2019-02-14 19:40] #84 closed

[2019-02-14 19:41] Trewaters commented on #67
Are you still interested in speaking? If not we will close the issue in a few days.

[2019-02-14 19:42] Trewaters commented on #91
Are you still available to speak? If so please comment below.

Thanks!

[2019-02-14 19:43] dmill commented on #67
Hey @Trewaters! I may still be able to do something on this, but my schedule is a bit hectic at the moment. I'll go ahead and close this for now and check back in with you when I have some more time.

[2019-02-14 19:43] #67 closed

[2019-02-14 19:44] Trewaters commented on #99
We have availability for folks to speak starting in June. It could possibly be earlier if space opens up. Please post if June is good for you.
Thanks!

[2019-02-14 19:45] Trewaters commented on #67
That is totally fair. Thanks for closing this one.
I look forward to catching up in the future.

[2019-02-14 19:46] Trewaters commented on #106
Do you think you might have availability in June, or later to give this talk?

[2019-02-15 03:49] lidderupk commented on #99
June works. Also happy to present earlier if spots open. Look forward to it !

[2019-02-15 21:31] Trewaters commented on #99
Thanks! I added you to June and if something opens up for sooner I will keep you in mind.

[2019-02-15 21:35] Trewaters commented on #102
Hi @sashaProdan I understand you might be able to speak May 2nd instead. I am waiting a couple days to make sure issue #90 doesn't want that date.  With all communication going back and forth I want to give everyone a fair chance.

If I don't hear back from them by the end of the weekend I will move your talk to May. I will post later when I know more. Have a great weekend!

[2019-02-17 01:32] sashaProdan commented on #102
Hi @Trewaters. Yes I wouldn't mind to give a talk earlier as my friend told me she couldn't make it. But I understand that you have to work it out with other presenter first. Thanks for your help!

[2019-02-19 05:47] shark-h commented on #106
Hey, sorry for the delay. I will be out of SF for a while. I should be back around June/July but I'll only know around end of April. Can I reach out to you then and we can figure it out?

[2019-02-19 15:06] Trewaters commented on #106
@shark-h Thanks for the update. You can definitely reach out to us in the future.

I will close this issue. Feel free to ask me to re-open it in the future or submit a new one if you come up with different topic.

[2019-02-19 15:06] #106 closed

[2019-02-20 19:33] Trewaters commented on #90
@burtonator May has filled up. Next available spot is July 11, 2019. If that works for you and you are still available to talk please let me know.
Thanks!

[2019-02-20 19:35] Trewaters commented on #102
I moved this talk to May. I will be in touch when the event gets closer.

[2019-02-20 19:58] lidderupk commented on #99
@Trewaters, how long will the talk be ?  I have done lightning talks as well as full day workshops with openwhisk.  I will prepare accordingly. Thanks again for fitting me in.

[2019-02-23 15:49] Trewaters commented on #99
@lidderupk sorry for the delayed response.

Our talks are limited to 30 minutes, including equipment setup.

[2019-02-25 18:40] lidderupk commented on #99
Thank you @Trewaters ! Looking forward to speaking with the group.

[2019-03-11 23:40] sashaProdan commented on #102
Do you by the chance know the approximate talk day? Is it later then May the 1st?

[2019-03-11 23:46] paulgrock commented on #102
Our May event is on the 2nd.

[2019-03-11 23:47] sashaProdan commented on #102
Ok 👍 thanks

[2019-03-12 00:40] Trewaters commented on #94
Thanks for the t-shirts!

[2019-03-12 00:40] #94 closed

[2019-03-16 01:10] tlhunter commented on #97
@Trewaters I renamed the talk from "Practical Attacks..." to "Real World Attacks..."

[2019-03-16 14:02] Trewaters commented on #97
I will update that once we get the details published. Sorry we are little behind on adding the Meetup details at the moment. But coming soon.

[2019-03-17 19:17] tlhunter commented on #97
It's all good. Thanks

[2019-03-26 13:46] #101 closed

[2019-04-05 10:04] #97 closed

[2019-04-09 14:18] Trewaters opened #108 "Github hosting SFNode"
What is the address, floor, room name if any, entrance instructions?
Our address is 88 Colin P Kelly Jr. St.
San Francisco, CA 94107
Events are held on the 1st floor and organizers can check in with security. Depending on the expected number of attendees, our in house security team may require that an event organizer handle guest registration.

Do we need to submit an attendee list for security pu

[2019-04-25 00:48] ErickWendel opened #109 "Talk proposal: Javascript, Azure Cognitive Services and RaspberryPI - Using Javascript to recognise people!"
**Javascript, Azure Cognitive Services and RaspberryPI - Using Javascript to recognise people!**

Technologies have been increasing our power to develop new applications without a big knowledge of previous concepts. Today developers could create their own Machine Learning applications, strong and complex algorithms without knowing what is happening behind the scenes thought APIs. This talk will ex

[2019-04-25 00:50] ErickWendel commented on #109
Idk if is it available to talk in May :x

[2019-04-25 17:17] Trewaters commented on #102
Hi @sashaProdan
I apologize for being late on this check-in. I am updating the event details today with Venue (GitHub) and speaker details. We have three speakers. I think the first two Dshaw and James will be talking together. But I will know more soon.

Are you ready to speak next week? Do you have any questions for us?

Look forward to your talk!

[2019-04-25 18:40] sashaProdan commented on #102
Hi @Trewaters

No worries. I am ready to speak. I just saw the event details on SFNode meetup page and it looks like I have 30 min for my talk. Am I correct? I just want to confirm that so I can adjust my speed and content before the talk.

And is it all right that I come at 7 since I start speaking at 7:30? Does setup takes to much time?

Thank you!

[2019-04-25 18:45] Trewaters commented on #102
Great! @sashaProdan

Yep it is 30 minutes for your speaking slot.

7 pm will be fine. They have a security desk that will be open for you to check in. GitHub does have a good sound system. It should be a smooth process to get you connected, maybe 5 minutes.

[2019-04-25 19:29] sashaProdan commented on #102
Will the event be recorded?

[2019-04-25 19:51] Trewaters commented on #102
We are trying too get it recorded or streamed. Will that be okay?

[2019-04-25 21:16] sashaProdan commented on #102
Sure. I was just wondering ))

I am looking forward to the event!

[2019-04-29 18:23] #100 closed

[2019-05-03 13:19] #109 closed

[2019-05-03 13:19] #104 closed

[2019-05-09 18:49] logandavis opened #110 "Talk proposal: Progressive UX Design for Engineers"
**Progressive UX Design for Engineers**
Beyond delivering valuable features to users, engineers have a responsibility to respect their users' time by not making them wait for applications to process, load, or respond. This talk is an introduction to designing web applications that are not just _RESTful_ but also _respectful_, covering topics like:
- Optimistic rendering
- When to show a loading sp

[2019-05-09 20:13] jacobleecd opened #111 "Talk proposal: Building a Data Pipeline for the Cloud"
Hi all,
I'd like to propose a talk.

**Full name & bio:** Jacob Coker-Dukowitz
Jake is a software engineer with experience in web application development, React JS, Node JS, Ruby on Rails, facilitation and project management.

**Talk title & Abstract:** Building a Data Pipeline for the Cloud
We'll talk about the challenges of building a cloud native application, the principles of building a good d

[2019-05-09 23:45] Trewaters commented on #107
@pinheadmz Would you be available to talk June 6th instead of July.

[2019-05-09 23:48] Trewaters commented on #99
@lidderupk would you still be available for June 6th, Thursday eve?

[2019-05-10 13:15] Trewaters commented on #107
I made a mistake. I thought we had an opening in June but the venue will have a speaker so I would like to keep you in the July spot.

Sorry for the confusion @pinheadmz

[2019-05-10 13:17] Trewaters commented on #110
Thanks for submitting the talk. I have your space reserved for June.

[2019-05-10 13:18] #98 closed

[2019-05-10 13:19] Trewaters commented on #102
Thanks for your talk!

Here is a link to the YouTube recording from that night ( https://youtu.be/lcKrqk9NDiQ ).

[2019-05-10 13:19] #102 closed

[2019-05-10 13:23] Trewaters commented on #111
Thanks for your talk submission. Would you be available for July 11th 2019? We have space then.

[2019-05-10 17:02] pinheadmz commented on #107
Ha, no problem! Keeping July 11 on the calendar :-) Thanks again!

[2019-05-10 17:07] Trewaters commented on #107
I appreciate your understanding. Looking forward to a Crypto Currency talk!

[2019-05-10 18:00] jacobleecd commented on #111
July 11th works for me! Let me know if you'd like for me to send you the slides beforehand.

Best,
Jake

[2019-05-13 16:48] lidderupk commented on #99
@Trewaters, I am trying to make June 6 work. I should know by EOD PST today. when is the next available date ?

[2019-05-13 17:08] Trewaters commented on #99
@lidderupk the next available speaking date would be August 1st.

Keep me updated. If you can't make June work I will ask around for someone to fill that spot.

Good luck!

[2019-05-14 16:47] lidderupk commented on #99
Hi @Trewaters,

I would like to switch to August. Thank you so much for giving me the option to postpone.

Upkar.

[2019-05-14 17:08] Trewaters commented on #99
Roger that. Looking forward to it!

[2019-05-16 16:47] Trewaters opened #112 "Talk Proposal: PLACEHOLDER FOR GUEST SPEAKER"
Invited a special guest to speak August 1st 2019. I will fill in their information as we work through the final details.

[2019-05-17 18:15] Trewaters commented on #90
Hi @burtonator
We are looking to make our final list of speakers for July 2019. Please let me know in 24 hours if you are available to speak July 11th. I don't want to miss you but we are in a little bit of a time crunch.

Thanks!

[2019-05-17 18:18] Trewaters commented on #91
Hi @elizabethsiegle are you still available to talk?

[2019-05-17 18:20] Trewaters commented on #93
Hi @andkhong

Checking on your submission. Did you still want to talk?

[2019-05-17 18:51] andkhong commented on #93
Sure, I am still interested in speaking. Lost update on this so it slipped my mind.

[2019-05-17 18:53] Trewaters commented on #93
Awesome! We are at MixMax June 6th. Doors open at 6 and close at 9pm.

Can I put you on that schedule, or is another month better?

[2019-05-17 18:54] andkhong commented on #93
Sure, that sounds great! Ill prepare and submit slides the the talk format if that works?

[2019-05-17 18:56] Trewaters commented on #93
You get 30 minutes to setup computer and talk. I know MixMax has a projector so you would be able to show slides. Besides that I think the format is pretty free style. I like seeing code but do what works best for your topic.

send me any questions you have.

[2019-05-17 19:12] burtonator commented on #90
@Trewaters July 11 would work great... looking forward to it.

I'm also thinking about doing a meetup myself and would love to ask you a few question.

burtonator+git@gmail.com

or we can just discuss on the 11th.

[2019-05-18 17:22] Trewaters commented on #90
@burtonator we had someone move their talk. Now we have an opening for June 6th. Would you mind moving your talk to June instead of July?

We could definitely talk about meetups. I will reach out.

[2019-05-18 17:25] Trewaters commented on #90
Oops. forget that! I messed up. We do need you July 11th!

I must need more coffee!!! Sorry for any confusion. I will update this issue to reserve the July 11th spot.

[2019-05-18 17:33] Trewaters commented on #111
@jacobleecd would you be free to talk June 6th instead of July 11th. We have a space open for June because another speaker needed to reschedule.

[2019-05-18 17:36] Trewaters commented on #91
We haven't talked in so long I am going to close this issue. If you would like to submit this or another talk you are always welcome to.

[2019-05-18 17:36] #91 closed

[2019-05-18 17:44] Trewaters commented on #111
@jacobleecd I apologize but I am having some serious scheduling issues. I am trying to double book folks all summer. A speaker needed to change their date and I am not processing it properly. I had to look at the issue list multiple times to make sure I get it right this time.

It looks like our next opening September 5th, 2019. I know I asked you for the dates you agreed too but I didn't realize

[2019-05-18 17:48] burtonator commented on #90
ok... July 11... works for me.

[2019-05-18 17:49] Trewaters commented on #90
Thank you!

[2019-05-18 20:26] jacobleecd commented on #111
Hey @Trewaters ,
No worries! I'm free both June 6th or September 5th. The earlier the better for me, but I'll make whatever time works for ya'll.

FYI, here is a link to the [slides](https://drive.google.com/file/d/1q-D7GsYzVcXkoTTQUCL43FzQVIJD0HnH/view?usp=sharing) and the [website](https://mashr-framework.github.io/). There are a few minor tweaks I plan to make but they are just about done!

Bes

[2019-05-21 14:13] JainKartavya opened #113 "Talk proposal: A deep dive into performance diagnostics for Elasticsearch with PerfTop and Open Distro for Elasticsearch"
**TITLE:**
A deep dive into performance diagnostics for Elasticsearch with PerfTop and Open Distro for Elasticsearch

**ABSTRACT:**
PerfTop is a new NodeJS tool from AWS to model and troubleshoot the performance of Elasticsearch. PerfTop can help achieve better deployment of highly efficient and reliable Elasticsearch services.

PerfTop comes packaged with Open Distro For Elasticsearch. It provide

[2019-05-22 02:16] Trewaters opened #114 "Venue: Mixmax"
Placeholder for venue June 2019

- What is the address, floor, room name if any, entrance instructions?
- Do we need to submit an attendee list for security purposes?
- What's the total number of people that space can hold?
- Will food and drinks will be provided? Are there vegetarian and gluten free options?
- What is the AV setup like?
- What is the microphone setup? Mic stand or headset mic?
-

[2019-05-22 18:35] JainKartavya commented on #113
Thanks for scheduling this session in Sep. I have a couple of questions:
1. When would we know the exact meetup date in Sep?
2. When would the event page go live? I'd like to promote it on social channels.

[2019-05-22 18:56] Trewaters commented on #113
This meetup is September 5th 2019.

The event has a placeholder now, found here (https://www.meetup.com/sfnode/events/mxstsmyzmbhb/). We usually have the exact details filled in about 2 weeks ahead of the event. So by  August 22nd it would be safe to share with the world and link to.

[2019-05-24 05:24] walmik opened #115 "Talk Proposal: Produce & Perform EDM right from the browser with Scribbletune, React, GraphQL and the WebAudio API."
**Full name and Bio**
Walmik Deshpande
Distinguished sprint monkey @PayPal.
Sings in the bathvroom, plays guitars in the bedvroom, yawns in the boardvroom. Just vroom vroom vroom!

**Talk title and abstract (description)**
The browser has come a long way when it comes to building really powerful applications that are capable of processing rich media on the fly. Audio production is not far behind i

[2019-05-24 14:18] Trewaters commented on #115
The working title is a bit long for us but everything looks great!

Thanks for adding this to the issue tracker

[2019-05-24 14:19] Trewaters commented on #112
not needed any longer

[2019-05-24 14:19] #112 closed

[2019-05-24 18:28] walmik commented on #115
Cool, i shortened it :) @Trewaters

[2019-05-24 19:26] walmik commented on #115
Ok made one minor change @Trewaters  (kept the size the same however).

[2019-06-05 19:43] Trewaters commented on #93
Are you ready for tomorrow? I am here for questions.

Please post a comment to confirm you are on for tomorrow.

We are meeting at Mixmax (512 2nd St, San Francisco, on the first floor). Doors open at 6:30 pm. There will be pizza and soda provided by the venue.

[2019-06-05 19:45] Trewaters commented on #110
Are you ready for tomorrow? I am here for questions.

Please post a comment to confirm you are on for tomorrow.

We are meeting at Mixmax. We expect folks to arrive at 6:30 pm. Pizza and soda is being provided.

[2019-06-05 20:05] andkhong commented on #93
I have the code ready, still working on the slides! Currently putting fires out. Will update finalize the slides by tomorrow morning!

https://docs.google.com/presentation/d/1Dz-y_L9Uien39ZmSbxFPMxtSx7DHIAnwm6G6uUeOK1A/edit

[2019-06-05 20:08] Trewaters commented on #93
Thanks for confirming. I understand being busy. Good luck!

I am posting on Twitter do you have a Twitter account you would like me to share?

[2019-06-05 20:37] andkhong commented on #93
Unfortunately I do not have a Twitter account. My corgi does have an instagram account

Instagram:
https://www.instagram.com/littlecooperbear/?hl=en

Twitch:
https://www.twitch.tv/adkhermit

[2019-06-05 21:15] andkhong commented on #93
https://github.com/andkhong/webpack-typescript-node

here's a repo that's not too different from the code i'll be demoing tomorrow

[2019-06-06 20:02] logandavis commented on #110
I'm ready!

[2019-06-07 02:30] tlhunter opened #116 "Talk Proposal: Osgood"
**Full name and Bio**
**Thomas Hunter II**: Thomas is the author of Advanced Microservices and is a prolific public speaker with a passion for reducing complex problems into simple language and diagrams. His career includes working at Fortune 50's in the Midwest, co-founding a successful startup, and everything in between.
**Bryan English**: Bryan is a JavaScript and Rust developer with over a dec

[2019-06-07 20:58] pinheadmz commented on #107
I'm starting to put together my presentation and I just wanted to confirm: I'll have about 30 min? You guys usually do two talks per meetup? And, do you have any idea how knowledgable the crowd is about Bitcoin? I can adjust on the fly (based on show-of-hands) but I'm trying to plan some time to explain the blockchain protocol a little bit as well.

[2019-06-07 21:07] Trewaters commented on #107
The talks are 30 minutes. We have a good mix of folks, so I would say you don't have to explain the very basics of bitcoin, but whatever you feel is appropriate go for it.

There will be 2 talks that night yours and another.

[2019-06-24 16:32] JainKartavya commented on #113
Please remove Anna Jung from the speaker list. Alolita Sharma will be the only speaker.

[2019-06-28 13:24] Trewaters commented on #90
Hi Kevin,

I am running behind on this but could you fill this out so I could update the description. For now I will put a placeholder until you complete this. Sorry for the last minute notification. I only noticed this morning that we were missing these details.

- Full name and Bio
- Talk title and abstract (description)
- Make sure talk is true to the title and abstract
- Twitter handle (option

[2019-06-28 13:45] Trewaters commented on #116
OMG! I was in a hurry and posted you as talking on July 11th. Will that work for you? Sorry about this.

I know we talked verbally but I didn't confirm and it has been 3 weeks so I understand if this won't work. I put you and Bryan on first. Please let me know if I should move you from July 2019.

Thanks!

[2019-06-29 00:31] Trewaters commented on #113
I will try to track this but please double check me when the event goes up.

[2019-06-30 20:48] tlhunter commented on #116
@Trewaters I will get back with you tomorrow!

[2019-06-30 20:50] Trewaters commented on #116
sounds good. I apologize for the lack of communication on my part.

[2019-06-30 20:51] tlhunter commented on #116
No worries

[2019-07-01 18:06] burtonator commented on #90
Kevin Burton, CEO/Founder - Polar

Title: Building a Hybrid Node + Browser App in Electron

Abstract:

Polar is a personal knowledge repository for capturing web content,
PDFs and annotating them using the web and Electron as a backend.

Polar is designed to run within Electron and the web and we have
both local and web backends.

Electron itself is based on Node + Chromium and we discuss some of

[2019-07-02 03:24] tlhunter commented on #116
@Trewaters We're able to present on 7/11 (-:

[2019-07-02 04:40] Trewaters commented on #116
That is great news!

[2019-07-03 17:59] pinheadmz commented on #107
@Trewaters do you usually video the talks? If not I may bring my own camera

[2019-07-03 18:47] Trewaters commented on #107
Good question. We don't have a way of recording the talks this month. I would suggest bringing your camera. We can work with you to post the video on our YouTube channel after the event

[2019-07-10 18:58] burtonator commented on #90
BTW.;.. how many minutes should I budget to talk for?

[2019-07-10 20:01] Trewaters commented on #90
Less than 30 minutes. You will have to set up your laptops in that time too.  I would suggest targeting 20 minutes.

[2019-07-18 02:54] Trewaters commented on #116
Thanks for the excellent talk! Definitely enjoyed it.

[2019-07-18 02:54] #116 closed

[2019-07-18 02:55] #114 closed

[2019-07-18 03:09] Trewaters commented on #99
Hi Upkar! How are you feeling? We have you in the line up for next month at GitHub.

I would love to talk to you about IBM hosting a future meetup, if that offer is still available?

[2019-07-18 03:10] Trewaters commented on #115
Looking forward to the talk. If you have questions let me know.

[2019-07-20 04:07] walmik commented on #115
Hi @Trewaters same here.. looking forward to it too! I had one quick question if you could find out.. Last time I spoke at Github, I had gotten a HDMI out. Would I be able to get HDMI out again? If so, I can get my main computer along (else will have to settle for an older mac book air)

[2019-07-20 05:57] lidderupk commented on #99
Thank you @Trewaters! I am still good for August 1.
I am working with my team to see if we can host you. The response has been positive. Looking forward to chatting with you on this topic.

[2019-07-26 01:33] walmik commented on #115
Hi @Trewaters @paulgrock whenever you get a chance could you find out bout this query of mine?

[2019-07-27 17:09] Trewaters commented on #115
@walmik sorry to leave you hanging on this. I was on vacation until last night.

I am getting on it now.

[2019-07-27 17:14] Trewaters commented on #99
That is super great news, we can use the support!

Sorry for my delayed response. I was on vacation for a week. I am back to the Real World now.

[2019-07-31 03:06] Trewaters commented on #115
We will have an HDMI out for you to use. I have a bundle of HDMI adapters. Something will fit!

[2019-07-31 15:10] walmik commented on #115
Thank you Tre, that helps. I too might have a HDMI to USB-C adapter and I try to get it along.

[2019-08-07 14:54] #110 closed

[2019-08-07 14:55] #93 closed

[2019-08-07 14:55] #90 closed

[2019-08-07 14:55] #107 closed

[2019-08-07 14:56] #108 closed

[2019-08-07 14:56] #99 closed

[2019-08-07 14:57] Trewaters commented on #115
Fantastic talk! Glad we could host it at GitHub 👍

[2019-08-07 14:57] #115 closed

[2019-08-07 14:59] Trewaters commented on #113
Hi, I am checking in to see if you are ready to talk September 5th.  I haven't updated the meetup description yet but I will after confirming our line up for the night.

Please post here to confirm you are still okay to give a talk.

Thanks,
Tre'

[2019-08-07 15:00] Trewaters commented on #111
Hi, I am checking in to see if you are ready to talk September 5th. Please post here to confirm you are still okay to give a talk.

Thanks,
Tre'

[2019-08-07 15:11] JainKartavya commented on #113
Hi - I will check with the speaker "Alolita Sharma" and confirm tomorrow.

[2019-08-07 15:17] Trewaters commented on #113
sounds good, Thanks!

[2019-08-07 16:26] lidderupk commented on #99
@Trewaters, what is the best channel to talk about space? I have some updates. Thanks!

[2019-08-07 20:02] Trewaters commented on #99
Our email is Teamsfnode@gmail.com,  just address me and I will know.

Thanks so much!

[2019-08-07 22:08] JainKartavya commented on #113
Yes, September 5 works for us. Can you please confirm if Open Distro will be Talk 1 or Talk 2?

[2019-08-08 04:05] jacobleecd commented on #111
Hi Tre’,
I’m really sorry but my schedule has picked up a bunch and I can no longer make the commitment for Sept 5th, and I’m not sure when I’ll be able to reschedule just yet. I hope this doesn’t leave y’all hanging.

[2019-08-20 20:52] 4g3m opened #117 "Talk Proposal: Building a Centralized Log Management Framework for Small Web Apps"
Hello,

My talk proposal: Building a Centralized Log Management Framework for Small Web Apps

Full name & bio: Faazil Shaikh 
Faazil is a software engineer with experience in full-stack web applications, building with JavaScript, Ruby on Rails, React, and NodeJS.

Talk title & Abstract: Building a Centralized Log Management Framework for Small Web Apps

The talk will start about discovering about

[2019-08-22 04:21] Trewaters commented on #113
Thanks for your patience.

Open Distro will have the first talk. I am working on the meetup description. It should be up by Friday morning.

[2019-08-22 04:34] Trewaters commented on #117
This looks good. Would you be able to do it in 20-25 minutes?

We have a space for September 5th. Would you be ready to talk then?

[2019-08-22 04:44] 4g3m commented on #117
Hey Tre', I can do the talk then and and I will do my best to keep to the 25 minute limit. Do you need anything else on my end? If not, I'll reply on the thread by the end of this week with a writeup link. Is it okay if I post the slides around the day of the talk?

[2019-08-22 04:45] 4g3m commented on #117
Or slides just sometime next week if not then?

[2019-08-22 16:26] annyhe opened #118 "Talk Proposal: Create comics with JavaScript and Salesforce"
**Full name and Bio**
Anny He, Developer Evangelist @ Salesforce. I joined Salesforce in 2016, creating NodeJS apps with React since 2015. I'm Canadian and former bagpiper :) Big fan of JavaScript, including its eccentricities.

**Talk title and abstract (description)**
Title: JavaScript quirks
Does numberArr.sort() sometimes not work the way you expect it to? Or have you seen numberSmallerThanOne

[2019-08-22 17:00] 4g3m commented on #117
Hey Tre', I do have the writeup now ready on the site [here](https://crato-logging.github.io/) and the slides are linked [here](https://docs.google.com/presentation/d/1lKlYi1R4z3b4C1Np9QiEaevj_z1d4JEyyfFb9CQolKo/) as well. These materials are mostly stable, but some some changes will be made between now and the meetup.

Please let me know if we can still confirm for September 5th.

[2019-08-23 00:53] Trewaters commented on #117
We can confirm September 5th. I will update the meetup description by Friday morning. Slides don't need to be ready until the day of the talk.

[2019-08-23 14:33] Trewaters commented on #117
Do you have a Twitter account we can share in the description? We could also put another social media profile if you prefer. This is a great way for people to follow up with you.

[2019-08-23 22:55] 4g3m commented on #117
Sure. @cratodev on twitter.

[2019-08-25 22:00] Trewaters commented on #118
Thanks for submitting a talk. This looks interesting. Would you be able to do this talk in 25 minutes?

[2019-08-28 01:57] Trewaters opened #119 "Venue Proposal: IBM Developer"
Hosting November 7th, 2019

Posting for IBM. The contact is Upkar

•What is the address, floor, room name if any, entrance instructions?
Location
Galvanize- SoMA
44 Tehama St. SF CA 94105
* We are in a event space called The Theater in the lower level

Please use the TEHAMA entrance and tell the front desk staff that you are here for "event x".
They will direct you to our event site.

•Do we need

[2019-09-11 01:01] Trewaters commented on #118
Sorry for the delay getting back. Time escaped me.

Would you be available to give this talk October 3rd?

[2019-09-12 00:46] Trewaters commented on #111
I meant to close this proposal before now. When you are ready just resubmit the Talk. We would love to have you speak in the future.

[2019-09-12 00:46] #111 closed

[2019-09-12 00:50] #113 closed

[2019-09-12 00:50] #117 closed

[2019-09-12 23:12] jacoblee93 opened #120 "Talk Proposal: How to Transform Slack Into a Workflow Command Center"
**Full name and Bio**
Hey, I'm Jacob Lee, the co-founder of Standard Library. As part of my job, I deal with APIs of all kinds on a daily basis. Slack, Stripe, Airtable, Twilio, AWS, coinmarketcap.com -- you name it, there's a good chance I've built with it! Before working on Standard Library, I worked on Google Photos as a web developer.

**Talk title and abstract (description)**
If you're an eng

[2019-09-13 15:11] jacoblee93 commented on #120
Hey @Trewaters! I can do the October 3rd meetup if there is space.

[2019-09-13 21:00] annyhe commented on #118
Hello @Trewaters I've updated my talk description. Are you ok with the updated topic? It will be a live quiz with audience members. Let me know :)

[2019-09-14 04:13] Trewaters commented on #118
This looks great! Give us the weekend to look it over and we will let you know.

I would advise that you not rely on answers from the crowd because people can be very shy and you might not get the "game show" feel you are looking for.

[2019-09-14 04:15] Trewaters commented on #120
Awesome! We are still getting commitments from folks. The venue might have a speaker but I haven't heard for sure yet.

Could I get back with you on Tuesday? Hopefully I will know more by then.

[2019-09-14 16:48] jacoblee93 commented on #120
Yup, no problem. Let me know!

[2019-09-18 21:12] jacoblee93 commented on #120
Hey @Trewaters, any updates?

[2019-09-19 13:45] Trewaters commented on #118
Would you be able to still talk on October 3rd? I will put you on the meetup description if you can do it.

[2019-09-19 13:51] Trewaters commented on #120
Good morning @jacoblee93

I would like to schedule your talk for November 7th. It sounds like the Venue has a speaker and issue #118 should be available. Just waiting for their confirmation.

I appreciate your patience. I should have been back with everyone on Monday. Time is not my friend ;)

[2019-09-19 20:47] jacoblee93 commented on #120
Totally understand, sounds good!

[2019-09-20 01:37] Trewaters commented on #118
@annyhe just checking in. I am going to post your name on the Meetup event. If you can't talk please let me know so we can update things. Thanks, looking forward to hearing your talk.

[2019-09-20 01:48] annyhe commented on #118
Hello Tre,

Just spoke with my manager and unfortunately October is not going to work
for me to present. Can we do this mid November or later?

On Thu, Sep 19, 2019 at 6:37 PM Trewaters <notifications@github.com> wrote:

--
Cheers,
Anny
Developer Evangelist @ Salesforce
@annyhehe <https://twitter.com/annyhehe>
Linkedin <https://www.linkedin.com/in/annyhe>

<http://smart.salesforce.com/sig/anny.he/

[2019-09-20 01:49] Trewaters commented on #118
Yes we totally could. I will put you down for November 7th if that works for you?

Thanks for letting me know so quickly

[2019-09-20 02:06] Trewaters commented on #120
Would you believe we do have space in October. The other talk submission will be unable to appear.

Are you still available? Sorry for all the back and forth @jacoblee93

[2019-09-20 16:38] jacoblee93 commented on #120
Yes, I am available and that would be great. Looking forward to it!

[2019-09-20 17:50] Trewaters commented on #120
Yay that is awesome news! You will be out second speaker October 3rd.

I appreciate your patience with the process.

If you have any questions send them my way.

Happy Friday!

[2019-09-20 18:26] jacoblee93 commented on #120
Great! I do have one question: how long should I plan on making my talk?

[2019-09-20 19:57] Trewaters commented on #120
Talks should be 25 minutes or less. There is some AV setup so this seems to work great.

[2019-09-26 22:26] annyhe commented on #118
Hello Tre,

After consulting with my manager, can we do this talk in December? That
would be great.
Thanks!

On Thu, Sep 19, 2019 at 6:49 PM Trewaters <notifications@github.com> wrote:

--
Cheers,
Anny
Developer Evangelist @ Salesforce
@annyhehe <https://twitter.com/annyhehe>
Linkedin <https://www.linkedin.com/in/annyhe>

<http://smart.salesforce.com/sig/anny.he//us_mb/default/link.html>

[2019-09-27 01:28] Trewaters commented on #118
Yes we have space for you to talk on December 5th. Please confirm (as best as possible) that date will work for you?

[2019-10-03 02:25] coco98 opened #121 "Talk Proposal: Building a cloud-native GraphQL app with NodeJS & Hasura"
**Full name and Bio**
Tanmai Gopal
Tanmai is a founder at Hasura (hasura.io), an open-source project to make data-access and eventing easy using GraphQL. He's a fullstack developer, with primary areas of interest and work spanning GraphQL, Kubernetes, Haskell and Javascript over the last few years. He used to be an instructor of one of the largest MOOCs in India, and is passionate about making it

[2019-10-07 17:06] annyhe commented on #118
Hello @Trewaters . Yes December 5th works. Looking forward to it!

[2019-10-08 03:43] #120 closed

[2019-10-08 03:53] Trewaters commented on #121
Thanks so much for your patience! We look forward to hearing your talk.

[2019-10-08 03:57] Trewaters commented on #118
Perfect!  Let me know any questions you think of.

[2019-10-21 13:56] vdeturckheim opened #122 "Talk Proposal: Parts of OWASP Top 10 for Fullstack JS developpers"
**Full name and Bio**
Vladimir de Turckheim works as a software engineer at Sqreen where he builds a tool to secure web applications. He used to be a professional security auditor and a web developer in agencies. He is one of the most active members of the Node.js Security Working Group where he handles the security of Node.js and its ecosystem.

**Talk title and abstract (description)**
### Parts

[2019-10-24 04:42] Xabadu opened #123 "Talk Proposal: Building a serverless SMS panic button"
**Full name and Bio**
Fernando is the stylin’, profilin’, UI buildin’, web codin’, community leadin’, son of a gun! He is a Developer Evangelist at Twilio, organizer of NodeSchool SF, contributes to open source communities in the Bay Area and Latin America, bakes some mean 🍪 and constantly rants about wrestling and why it never makes sense but it's so freakin' great.

**Talk title and abstract (de

[2019-10-27 15:46] Trewaters commented on #122
Thanks for submitting. Would you be available on the 1st Thursday of December or January?

[2019-10-27 15:47] vdeturckheim commented on #122
Hey @Trewaters, sadly I will be SF only in November.

[2019-10-27 15:53] Trewaters commented on #122
I understand. Maybe next time you are visiting we could set something up.

[2019-10-27 15:55] #122 closed

[2019-10-27 15:55] vdeturckheim commented on #122
Yes, I'll ping you back :)

[2019-11-11 23:23] dcvidetta opened #124 "Venue Proposal: Scoop"
Posting for Scoop. We do not have a date yet, please contact denise@takescoop.com to discuss the details and date you need venue for.

**What is the address, floor, room name if any, entrance instructions?**
22 4th st, San Francisco, CA 94103

**Do we need to submit an attendee list for security purposes?**
Yes

**What's the total number of people that space can hold?**
60-70

**Will food and drin

[2019-11-13 21:35] annyhe commented on #118
@Trewaters Are we already confirmed for December 6th? Looking forward to it!

[2019-11-14 06:11] Trewaters commented on #118
We are on for December 5th (Thursday evening at 6:30). I will update the details ASAP.

[2019-11-14 06:12] Trewaters commented on #123
Are you available for December 5th at Flatiron School? Looking forward to hearing your talk

[2019-11-14 20:22] Xabadu commented on #123
@Trewaters I am! Looking forward to doing it ✌️

[2019-11-15 04:55] Trewaters commented on #124
Thank you for reaching out. I would be happy to coordinate with you to hold an event. I will connect with you next week to get something scheduled.

[2020-01-03 20:39] dkundel opened #125 "Talk Proposal: Type as much as you want"
**Full name and Bio**
Dominik Kundel

Dominik is a Developer Evangelist for Twilio in San Francisco. He has a passion for JavaScript, hackathons, teaching and good whiskey. You will usually find him speaking at meetups and conferences, mentoring at hackathons and workshops or working on open source projects.

**Talk title and abstract (description)**
Type as much as you want

**Url to Slides or Gi

[2020-01-04 06:56] #121 closed

[2020-01-04 06:58] Trewaters commented on #125
Thanks for the talk submission. Would you be available to speak on January 9th, next week? Or would another month work better for you?

[2020-01-05 00:12] dkundel commented on #125
Yes Thursday works! See you then.

[2020-01-05 18:48] Trewaters commented on #125
Yay! I will update the meetup description today.

[2020-01-05 21:05] JoeDoyle23 opened #126 "Talk Proposal: Understanding Node.js"
**Full name and Bio**
Joe Doyle

Joe is a Staff Software Engineer at Fictiv. He has been using Node.js since Node 0.6 and all of the major releases since. "I work hard to improve my skills in the spirit of software craftsmanship. I'm a constant learner and am always looking for new technologies to improve my software quality."

**Talk title and abstract (description)**
Understanding Node.js
Ever w

[2020-01-06 05:50] copperwall opened #128 "Talk Proposal: Implementing Async/Await with Generators and Promises"
**Full name and Bio**
Chris Opperwall

Chris is a Senior Software Engineer at Truepill. He's been a full-stack developer at Truepill, PayPal, and iFixit. In his free time he enjoys following twitter threads where people argue about `let` vs `const`.

**Talk title and abstract (description)**

Title: Implementing Async/Await with Generators and Promises

Abstract:

The async/await feature was intro

[2020-01-09 00:17] artgo opened #129 "Talk Proposal: How to test Node apps. The easy way."
**Full name and Bio**
Hey, I'm Artem Golubev, a co-founder of testRigor. As part of my job, I deal with acceptance-level testing of all kinds on a daily basis. Safeway/Albertsons, Salseforce, Stripe -- you name it, there's a good chance we tested them! I'm very passionate about more efficient ways to test apps. Before working on testRigor, I worked in various software dev jobs.

**Talk title and a

[2020-01-09 22:55] Trewaters commented on #128
Thank you for submitting this talk. Would you be available for February 13th or March 12th? I still need to check with our February host to see if they have one speaker or two.

I will update you as I know more.

[2020-01-09 23:04] Trewaters commented on #129
The topic is great! I would love to hear about testing in Node.

I don't know for sure if we can fit you into February 13 or March 12th right now but if you are interested in either or a later month please let me know. I would say it is highly likely to be March 12th.

[2020-01-10 05:47] copperwall commented on #128
Hey thanks! I’m definitely available for March. I have to head out somewhat early from the meetup on February 13th, so that might not work out the best.

[2020-01-13 05:27] #126 closed

[2020-01-15 04:13] Trewaters commented on #129
@artgo
Checking in with you. Hope you are doing well.

[2020-02-06 01:41] tlhunter opened #130 "Talk Proposal: Friends don't let friends Cluster"
**Full name and Bio**

**Thomas Hunter II**: Thomas has contributed to dozens of enterprise Node.js services and has worked for a company dedicated to securing Node.js. He has spoken at several conferences on Node.js and JavaScript, is currently writing a book on Node.js services with O'Reilly, and is an organizer of NodeSchool SF.

**Talk title and abstract (description)**

**Friends don't let fr

[2020-02-09 17:17] JoeDoyle23 commented on #130
Hi @tlhunter!  Thanks for the talk submission. Are you able to present this Thursday, Feb 13th?

[2020-02-09 17:18] #125 closed

[2020-02-09 17:18] JoeDoyle23 commented on #128
Great. We'll schedule you as a talk for March.

[2020-02-09 17:19] #123 closed

[2020-02-09 18:33] copperwall commented on #128
Awesome!!

[2020-02-10 00:19] tlhunter commented on #130
@JoeDoyle23, certainly!

[2020-02-11 03:12] tlhunter commented on #130
@joedoyle23 sorry for the late notice but I'm currently going through some health issues and I don't think I'll be able to speak on Thursday

[2020-02-11 03:36] JoeDoyle23 commented on #130
No problem! I hope you get well soon!

[2020-02-11 06:48] chromakode opened #131 "Talk Proposal: How to Wait"
**Full name and Bio**
Max Goodhart co-organizes the WaffleJS meetup in San Francisco. He has been writing JavaScript professionally for 10 years.

**Talk title and abstract (description)**
Our story begins with a humble 'await fetch': your script fires off an HTTP request and settles down to nap, trusting that it'll be awoken when response data is available. While your program does nothing, a casc

[2020-02-11 18:35] Trewaters commented on #131
Hi Max thanks for submitting this talk. This is awesome! Please let me know your time constraints for scheduling you February 13th?

[2020-02-11 18:36] dshaw commented on #131
@Trewaters Max is only available from 7:00-7:30pm and will have to take off after the talk is done.

[2020-02-11 19:57] tlhunter commented on #130
I can do it next month if you're looking for speakers

[2020-02-12 00:31] Trewaters commented on #130
We would love to have you in March @tlhunter !

Get better soon, sending you good vibes.

[2020-02-12 00:33] #119 closed

[2020-02-12 00:33] #118 closed

[2020-02-12 00:35] Trewaters commented on #129
Hi @artgo seeing if you are available for April 9th? Hope all is going well.

[2020-03-17 19:36] tlhunter commented on #130
Ironically, this talk title is more relevant than ever...

[2020-03-17 20:51] dshaw commented on #130
Did we get this in? If not, we’re going virtual for April and yes, this would be perfect. 🤣

[2020-03-17 23:14] tlhunter commented on #130
Virtual works for me!

[2020-03-18 21:34] andwaller opened #132 "Talk Proposal: DevOps for developers (or maybe against them?!)"
**Full name and Bio**
Baruch Sadogursky _(Ari Waller, Meetup Event Manager for JFrog, submitting on Baruch's behalf ariw@jfrog.com)_
Head of DevOps Advocacy @jfrog
Baruch Sadogursky (a.k.a JBaruch) is the Head of DevOps Advocacy and a Developer Advocate at JFrog. His passion is speaking about technology. Well, speaking in general, but doing it about technology makes him look smart, and 19 years of

[2020-04-08 21:17] isurfbecause commented on #128
@copperwall I know this is short notice, but would you be able to speak tomorrow night via Zoom?

[2020-04-08 21:30] isurfbecause commented on #130
@tlhunter Are you still free to talk tomorrow?

[2020-04-08 21:31] tlhunter commented on #130
Yes

[2020-04-08 22:55] isurfbecause commented on #130
Right on see you online

[2020-04-08 22:56] #131 closed

[2020-04-09 21:01] copperwall commented on #128
Sorry, I didn't see this yesterday. I can speak tonight if that still works!

[2020-04-10 00:49] isurfbecause commented on #128
Right on, good timing.

[2020-04-10 00:49] #128 closed

[2020-04-10 01:58] isurfbecause commented on #128
@copperwall jump on zoom https://zoom.us/j/510472047

[2020-04-10 23:42] #130 closed

[2020-10-13 18:53] davidguttman opened #133 "Talk Proposal: How To Get A Better Job Without Learning Another Framework"
**Full name and Bio**
David Guttman

At [Superstruct](https://superstruct.tech), David helps startups build remote engineering teams that ship. He has led teams of engineers to ship projects like ultra-high-scale ad servers handling over 10 billion requests per day, written books like [Fullstack Node.js](https://www.newline.co/fullstack-nodejs), authored over 90 open-source packages on npm, and ru

[2020-12-07 19:58] dshaw commented on #133
Thanks @davidguttman 💖✨

[2020-12-07 19:58] #133 closed

[2021-01-05 14:56] jasonkuhrt opened #134 "Talk Proposal: Introduction to Nexus"
**Full name and Bio**
Who are you and what are you all about? We will post this in the Meetup description.

Jason Kuhrt

I am a TypeScript developer with a passionate for DX. Educated in design theory, practice, and ethics I became fascinated by systems aspects of software engineering. Over years I've oscillated between frontend (jQuery, Angular, React), backend (HTTP, TCP, GQL, Architecture), dev

[2021-01-07 03:12] dshaw commented on #134
@jasonkuhrt Thanks for submitting the talk.

[2021-01-07 03:14] dshaw commented on #134
@jasonkuhrt Our next meetup is on Thursday, January 14th at 7pm PT (10pm ET). Are you interested and available at that time?

[2021-01-11 19:59] jasonkuhrt commented on #134
@dshaw a bit soon, when is the next one?

[2021-01-11 23:19] dshaw commented on #134
2nd Tuesday of the month, so for February it's Thursday 2/11 at 7pm PT / 10pm ET. Want to shoot for that, @jasonkuhrt ?

[2021-01-12 00:39] jasonkuhrt commented on #134
Sounds good, Thursday February 11 @ 10pm ET!

[2021-01-12 05:13] dshaw commented on #134
Awesome. Thank you.

[2021-02-06 23:46] #129 closed

[2021-02-12 19:32] #134 closed

[2021-04-06 17:28] JeronimoFictiv opened #135 "Talk Proposal: TypeScript: JavaScript... with types?"
**Full name and Bio**
Name: Jeronimo Mora

Bio: I'm currently a Sr. Software Engineer at Fictiv where I dabble in everything from fullstack React/GraphQL/Typescript to computational geometry and WebGL. I work as a teaching assistant at Trilogy Education Services (UC Berkeley, UofU) for their web development coding bootcamps.

**Talk title and abstract (description)**
Title: TypeScript: JavaScript.

[2021-04-20 03:33] JoeDoyle23 commented on #135
HI Jeronimo! As we chatted about today, you're all set for the May event on May 13th. I'll update the Meetup site shortly.

[2021-04-20 03:44] #132 closed

[2021-04-20 11:22] andwaller opened #136 "Talk Proposal: DevOps for developers (or maybe against them?!)"
**Full name and Bio**
Baruch Sadogursky
Head of DevOps Advocacy @jfrog
Baruch Sadogursky (a.k.a JBaruch) is the Head of DevOps Advocacy and a Developer Advocate at JFrog. His passion is speaking about technology. Well, speaking in general, but doing it about technology makes him look smart, and 19 years of hi-tech experience sure helps. When he’s not on stage (or on a plane to get there), he learn

[2021-05-08 03:30] tlhunter opened #137 "Talk Proposal: Node.js Package Management"
**Full name and Bio**
Thomas Hunter II - Thomas has contributed to dozens of enterprise Node.js services and has worked for a company dedicated to securing Node.js. He has spoken at several conferences on Node.js and JavaScript, is an O'Reilly published author, and is an organizer of NodeSchool SF.

**Talk title and abstract (description)**
This talk covers package management as it is commonly per

[2021-05-11 00:26] JoeDoyle23 commented on #137
Hi Thomas! Thanks for submitting a talk. Would you be available to present at our June meetup on June 10th?

[2021-05-13 05:28] tlhunter commented on #137
That should work!

[2021-06-07 03:12] tlhunter commented on #137
@JoeDoyle23 Sorry for the last minute notice but I've got a funeral on the day of the talk. Can I get a rain check?

[2022-06-17 00:57] alexarena opened #138 "Venue Proposal: Interval"
**What is the address, floor, room name if any, entrance instructions?**
3154 17th St, San Francisco, CA. We'll post a sign at the door. It's a freestanding building, so getting in is pretty obvious.

**Do we need to submit an attendee list for security purposes?**
We'll check attendance at the door, but does not need to be submitted beforehand.

**What's the total number of people that space can

[2022-06-29 16:05] jasnell opened #139 "Talk Proposal: A Tale of Two Runtimes"
**Full name and Bio**

James M Snell / @jasnell

James has been a core contributor to Node.js for the past 7 years and a member of the Node.js Technical Steering Committee. He is also an engineer on the Cloudflare Workers runtime. His primary focus on both is expanding capability and ensuring Web Platform API interoperability across non-Web browser runtimes.

**Talk title and abstract (description

[2022-06-29 21:51] alexarena opened #140 "Talk Proposal: The Joy of E2E Type Safety"
**Full name and Bio**

Alex Arena / [@alexarena](https://twitter.com/alexarena)

Alex is the CEO and founder of [Interval](https://interval.com).

**Talk title and abstract (description)**

TypeScript is now prevalent across browsers, mobile apps, servers, and more. And with good reason: type-safe code allows developers to avoid entire classes of bugs and gives us confidence to undertake ambitious

[2022-07-24 03:24] Zahidul-Islam commented on #137
@tlhunter Would you be interested in presenting this (or updated) talk in the future SFNode meetup?

[2022-07-24 03:26] #138 closed

[2022-07-24 03:27] #135 closed

[2022-07-24 03:28] #139 closed

[2022-07-24 03:28] #140 closed

[2022-07-27 01:15] doriancrutcher opened #141 "Talk Proposal: Writing Smart Contracts in Javascript on NEAR"
**Full name and Bio**
Dorian Kinoo Crutcher. I work in Developer Relations for the [NEAR ](https://near.org/)

**Talk title and abstract (description)**
Writing Smart Contracts in Javascript on NEAR

Blockchains all have their own take on writing smart contracts, Ethereum uses their own language, Solidity, others including NEAR use languages like Rust or their own custom language. NEAR has taken t

[2022-07-29 20:59] Zahidul-Islam commented on #141
@doriancrutcher Our next event will be on 25th August 2022. Can you please confirm if that date works for you?

[2022-08-01 18:00] tlhunter commented on #137
@Zahidul-Islam,

I can still give this talk. I'm free on August 25th. I can bring a copy of the book for y'all to raffle off to an audience member.

Note that this talk was given at the 2021 UtahJS conference.

[2022-08-02 17:03] amark opened #142 "Talk Proposal: Write a 2X Faster-than-Native JSON Parser with Fake Threading"
**Hi, I'm Mark**:

Mark Nadal is the author of GUN, an Open Source Firebase alternative. He spends his time obsessed with performance and benchmarking, and will teach you how little tricks can give you huge gains.

**Write a 2X Faster-than-Native JSON Parser with Fake Threading**
JSON is incredibly slow and blocks the thread, resulting in your app freezing up and web server spiking in latency. In

[2022-08-02 17:17] amark opened #143 "Talk Proposal: Scaling Beyond In-Memory Objects: Past Maps & Heap - Binary Search Dictionaries!"
**Hi, I'm Mark**:
Mark Nadal is the author of GUN, an Open Source Firebase alternative. He spends his time obsessed with performance and benchmarking, and will teach you how little tricks can give you huge gains.

**Scaling Beyond In-Memory Objects: Past Maps & Heap - Binary Search Dictionaries!**
NodeJS will crash at about 1.6GB of memory without manually increasing its limits. We'd hope the OS's

[2022-08-02 20:13] Zahidul-Islam commented on #143
@amark Thank you for submitting your talks. Both are interesting and I believe the Nodejs community will learn a lot. We already have two talks for this month (August). Would you be interested to present your talk at September Meetup?

[2022-08-02 21:21] Zahidul-Islam commented on #141
✅  @doriancrutcher Congratulations! Your talk is confirmed for the 25th August 2022 meetup.

[2022-08-02 21:21] Zahidul-Islam commented on #137
✅  @tlhunter Congratulations! Your talk is confirmed for the 25th August 2022 meetup.

[2022-08-03 00:02] dshaw commented on #137
@tlhunter Racking up them speaker points!!! Thank you so much for coming through.

[2022-08-03 18:43] amark commented on #143
September would be great! (Are you able to DM me on Twitter? For whatever reason, GitHub never emails me anymore.)

[2022-08-03 23:24] kevinswiber opened #144 "Venue Proposal: Postman"
**What is the address, floor, room name if any, entrance instructions?**
201 Mission St # 2375
San Francisco, CA 94105

**Do we need to submit an attendee list for security purposes?**
Yes.

**What's the total number of people that space can hold?**
40 is comfortable but could accommodate 60.

**Will food and drinks will be provided? Are there vegetarian and gluten free options?**
Yes, food and dr

[2022-08-03 23:34] Zahidul-Islam commented on #144
@kevinswiber @postman Thank you in advance for hosting SFNode in September.

[2022-08-03 23:36] #124 closed

[2022-08-03 23:36] #58 closed

[2022-08-14 06:57] Zahidul-Islam commented on #137
@tlhunter Just want to let you know that we canceled the SFNode meetup on the 25th of August because of the venue issue. Would you be interested to present the topic in October or November? Sorry for any inconvenience.

[2022-08-14 20:08] tlhunter commented on #137
That should work out

[2022-08-31 05:44] amark commented on #143
@Zahidul-Islam how much time do I have for the talk? So I know whether to include more/less, both, etc.

[2022-08-31 06:10] Zahidul-Islam commented on #143
@amark Ideally 30/45 minutes. We can allocate more time if you need it. Excited and looking forward to your talk. Please feel free to share the meetup link: https://www.meetup.com/sfnode/events/287874722/

[2022-09-12 17:01] copperwall opened #145 "Venue Proposal: Quizlet"
Quizlet has a common space which includes restrooms, catering kitchen with dining tables and audio, and an All Hands room with screens for presentations and microphones. Guests are not able to use any portion of the workspace behind badged doors. Night Porter services finish at 9pm by which time the event must also conclude.

To ensure the safety and wellbeing of our guests and employees, we ask a

[2022-09-26 17:46] #143 closed

[2022-10-04 17:31] ErickWendel opened #146 "Talk Proposal: Deep dive into Node.js Streams"
**Full name and Bio**
Erick Wendel

Erick Wendel is a professional content creator and Node.js core committer. He has given more than 100 tech talks in over 10 countries around the world. He has been recognized with the most important awards in software development for JavaScript: Microsoft MVP, GoogleDevExpert, and GitHub Stars. He has trained more than 100K people around the world as a professio

[2022-10-04 18:09] Zahidul-Islam commented on #146
@ErickWendel Thank you for submitting the talk. Do you know when you want to present the topic? (We have our next meetup on the 13th of this month).

[2022-10-05 13:21] ErickWendel commented on #146
Hey, my friend!! I'll be there from 07th to 12th November. So I'd like to speak at the November's edition (Nov 10th)

[2022-10-10 19:57] LewisJEllis opened #147 "Talk Proposal: Idiosyncracies of NaN"
**Full name and Bio**
Lewis Ellis

Lewis is an engineer who does Node.js stuff on the platform team at Pave.com. He's previously worked on Node.js backends in the edtech space, and on Sentry's Node.js error reporting SDK.

**Talk title and abstract (description)**
Idiosyncrasies of NaN

What NaN is, where it appears, and what one should know about it, from the perspectives of JavaScript and the IE

[2022-10-12 17:21] Zahidul-Islam commented on #147
@LewisJEllis thank you for the talk submission. I would like to confirm your talk for tomorrow's (Oct 13, 2022) meetup. Looking forward to the talk.

[2022-10-27 05:19] #147 closed

[2022-10-27 05:25] Zahidul-Islam commented on #146
@ErickWendel Unfortunately SFNode Meetup will be on 17th November. I think you mentioned that you will be here from 7th to 12th November. Let me know if your schedule changes and if you can present on the 17th.

[2022-10-28 23:05] amark opened #148 "Talk Proposal: SecureRender - Exploiting WebGL/GPU for Fun, AI, Security, & Privacy"
**Full name and Bio**
Mark Nadal is the author of GUN, an Open Source Firebase alternative. He spends his time obsessed with performance and benchmarking, and will teach you how little tricks can give you huge gains.

**Talk title and abstract (description)**
SecureRender - Exploiting WebGL/GPU for Fun, AI, Security, & Privacy

Every URL you click, every image you load, every prompt you type leaks

[2022-11-09 22:37] ErickWendel commented on #146
No problem!

[2022-11-09 22:37] #146 closed